
    <!-- adding header -->
    <%- include("./../partials/header") %>
                                                                                                Footer CSS */
    
        </style>
    

<div class="container">
    <div class="image">
        <img class="nda-image" src="https://www.olivegreens.co.in/images/sudan.jpg" alt="nda-image" />
    </div>
    <h2 class="heading">AFCAT Written Exam Coaching</h2>

        <div class="body">
            <p>Air Force Common Aptitude Test is conducted by the Indian Air force for entry into the Flying, technical and Ground duty
            branches of the Indian Air force as Commissioned Officers. An officer in the Indian Air force, you are adequately
            equipped to strategize through effective planning and organizing, optimally utilize the resources at your disposal and
            always lead through personal example.</p>
            <p>All the aspiring candidates who are willing to apply for AFCAT 2015 Recruitment Test must first check the AFCAT 2015
            Eligibility Criteria which includes the Age Limit Criteria and the Education Qualification requirement for various posts
            in Indian Air Force and then proceed to fill its registration form. The aspiring candidates can check the AFCAT
            Eligibility Criteria just below down of this paragraph.</p>
            <ol>
                <li><strong>Age limit Criteria:</strong></li>
            <p>Flying Branch – 19 year to 23 years</p>
            <p>Technical Branch – 18 years to 28 years</p>
            <p>Ground Duty Branch – 20 year to 27 years</p>
                <li><strong>Education Qualification Criteria:</strong></li>
            </ol>
            <ul>
                <li>For Flying Branch – The candidates must complete three or four year degree program (B.E/B.Tech) from any recognized
                university with a minimum of 60% aggregate marks.</li><p></p>
                <li>For Technical Branch – The candidates must complete engineering UG course from Aeronautical, Mechanical or Electronic
                engineering from any recognized university with a minimum of 60% aggregate marks.</li><p></p>
                <li>For Ground Duty Branches – The candidates must have a minimum of 60% aggregate marks in graduation or 50% aggregate
                marks in post-graduation in any discipline.</li>
            </ul>
        </div>
</div>

 <!-- adding footer -->
 <%- include("./../partials/footer") %>


 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>