
<%- include("./../partials/header") %>


    <div class="container">
        <div class="image">
            <img class="nda-image" src="https://www.olivegreens.co.in/images/ssbinterview1.jpg" alt="nda-image" />
        </div>
        <h2 class="heading">WHAT IS THE CDS/OTA WRITTEN EXAM?</h2>
        <div class="body">
            
        <p style="text-align: justify;">The CDS Written Examination is conducted by UPSC twice every year for graduates
            to fill the vacancies of the following institutions of the Indian Armed Forces.</p>
        <p><span
                style="position: relative; font-size: 11px; line-height: 0; vertical-align: baseline; bottom: -0.25em;">&bull;</span>&nbsp;Indian
            Military Academy (IMA) ; Dehradun</p>
        <p><span
                style="position: relative; font-size: 11px; line-height: 0; vertical-align: baseline; bottom: -0.25em;">&bull;</span>&nbsp;Indian
            Naval Academy; Ezhimala</p>
        <p><span
                style="position: relative; font-size: 11px; line-height: 0; vertical-align: baseline; bottom: -0.25em;">&bull;</span>&nbsp;Air
            Force Academy; Hyderabad</p>
        <p><span
                style="position: relative; font-size: 11px; line-height: 0; vertical-align: baseline; bottom: -0.25em;">&bull;</span>&nbsp;Officers
            Training Academy (OTA); Chennai. For both Men and Women</p>
        <p style="text-align: justify;"><strong>HOW TO APPLY FOR CDS/OTA EXAMINATION?</strong><br />The Notification for
            the CDS written exam is issued in the months of November and July. UPSC holds the exam in the months of Feb
            and October. Students can apply for the CDS and OTA written examination online only on UPSC website.</p>
        <p><span id="ele"><strong>ELIGIBILITY FOR CDS WRITTEN EXAMINATION</strong></span></p>
        <p style="text-align: justify;"><strong>Educational;&nbsp;</strong>Graduates- qualified or appearing (final
            year) are eligible to sit for CDS written exam. For Air Force and Navy candidates must have engineering
            /physics and mathematics subjects. For details check the notification. For OTA, Graduates and final year
            students can to apply.</p>
        <p style="text-align: justify;"><strong>Age;&nbsp;</strong>19 &frac12; to 24 years on date of joining IMA. For
            OTA, age must be between 19 &frac12; to 25 years on date of joining.</p>
        <p style="text-align: justify;"><strong>Sex;&nbsp;</strong>Only male candidates can sit for the CDS written
            exam. Both ladies and men can apply for OTA exam.</p>
        <p><strong style="line-height: 1.6;">EXAM PATTERN OF CDS/OTA WRITTEN EXAMINATION</strong></p>
        <p>The CDS written exam consists of three papers;</p>
        <ol style="margin-top: 0px; margin-bottom: 10px; color: #333333; line-height: 24px;">
            <li class="rtejustify" style="text-align: justify;">
                <p><strong>General&nbsp;Knowledge- 100 Marks</strong></p>
            </li>
            <li class="rtejustify" style="text-align: justify;">
                <p><strong>English- 100 Marks</strong></p>
            </li>
            <li class="rtejustify" style="text-align: justify;">
                <p><strong>Mathematics- 100 Marks</strong></p>
            </li>
        </ol>
        <p style="text-align: justify;">All three papers of the CDS written exam are held on the same day and the
            duration of each paper is two hours. The papers of CDS written exam are of 100 marks each and the total of
            the CDS written exam is of 300 marks. The OTA Written exam consists of only two of the above mentioned
            papers;</p>
        <p style="text-align: justify;">The OTA Written exam consists of only two of the above mentioned papers;</p>
        <ol style="margin-top: 0px; margin-bottom: 10px; color: #333333; line-height: 24px;">
            <li class="rtejustify" style="text-align: justify;">
                <p><strong>General&nbsp;Knowledge- 100 Marks</strong></p>
            </li>
            <li class="rtejustify" style="text-align: justify;">
                <p><strong>English- 100 Marks</strong></p>
            </li>
        </ol>
        <p style="text-align: justify;">OTA Candidates are exempted from Mathematics exam. The remaining two papers
            of&nbsp;OTA written exam are of 100 marks each and the total&nbsp;of the OTA written exam is of 200 marks.
        </p>
        <p><strong>SYLLABUS FOR CDS/ OTA WRITTEN EXAMINATION</strong></p>
        <p style="text-align: justify;">The CDS written exam tests the candidates in diverse fields like English,
            History, Polity, Economics, Geography, Maths, Life Science, Physics, Chemistry, Current Affairs, GK, etc.
            For OTA exam, syllabus is the same as CDS expect, OTA candidates do not have to sit for mathematics paper.
            For viewing the detailed syllabus please see the link below.</p>
        <p><a href="http://upsc.gov.in/exams/notifications/2014/cds2/CDS-II%20ENGLISH.pdf"
                style="color: #005b34; text-decoration: none; background: transparent;">http://upsc.gov.in/exams/notifications/</a>
        </p>
        <p><strong>RESULTS OF CDS/OTA EXAMINATION</strong></p>
        <p style="text-align: justify;">UPSC declares the result of CDS/OTA written exam in 3-4 months after the written
            exam. The same can be viewed on the UPSC website. Being a competitive exam and there is no fixed cut off
            percentage for passing. Candidates who perform better are sent the call letters for SSB interviews. The
            final merit list is prepared after the SSB interviews final result and displayed on the UPSC website.
            Joining instructions are sent to students based on vacancies available as per the merit list.</p>
    </div>
        </div>

    </div>

    <%- include("./../partials/footer") %>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>


