<%- include("partials/header") %>



<!-- about -->
<div class="about">
    <a class="bg_links social portfolio" href="https://www.rafaelalucas.com/dailyui" target="_blank">
       <span class="icon"></span>
    </a>
    <a class="bg_links social dribbble" href="https://dribbble.com/rafaelalucas" target="_blank">
       <span class="icon"></span>
    </a>
    <a class="bg_links social linkedin" href="https://www.linkedin.com/in/rafaelalucas/" target="_blank">
       <span class="icon"></span>
    </a>
    <a class="bg_links logo"></a>
 </div>
 <!-- end about -->
 
 <div class="wrapper">
 
    <section class="module-team">
 
       <div class="team">
          <h2 class="title">Meet our Team</h2>
          <div class="team-cards">
 
             <!-- Slider main container -->
             <div class="swiper-container">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper" style="display:flex;"></div>
 
             </div>
 
            
          </div>
 
       </div>
 </div>
 
 </section>
 
 </div>





<script>
    window.addEventListener("load", event => {

var swiperWrapper = document.querySelector('.swiper-wrapper');

/* The Team */
var team = [{
        name: "Aman Dixit",
        role: "Web Developer",
        desc: "Far far away, behind the world mountains, far from the countries Vokalia and Consonantia, theres live the blind texts.",
        photo: "https://avatars.githubusercontent.com/u/56161073?v=4",
        website: "https://amandixit.me",
        email: "mailto:amandixit033@gmail.com",
        linkedin: "https://www.linkedin.com/in/aman-dixit-b371b9190/",
        dribbble: "https://dribbble.com/lazyaman",
    },
    {
        name: "Pankaj Rathore",
        role: "Full Stack Developer",
        desc: "Experienced web developer, good hand in Nodejs",
        photo: "https://avatars.githubusercontent.com/u/65541151?v=4",
        website: "https://pankajrathore.herokuapp.com/",
        email: "mailto:pk1853894@gmail.com",
        linkedin: "https://www.linkedin.com/in/pk1853894/",
        dribbble: "https://dribbble.com/rafaelalucas",
    },
     {
        name: "Apoorv Gupta",
        role: "Back-End Developer",
        desc: "Far far away, behind the world mountains, far from the countries Vokalia and Consonantia, theres live the blind texts.",
        photo: "https://avatars.githubusercontent.com/u/62026815?v=4",
        website: "https://rafaelalucas.com",
        email: "mailto:apoorv.gupta@gmail.com",
        linkedin: "https://www.linkedin.com/in/rafaelalucas/",
        dribbble: "https://dribbble.com/rafaelalucas",
    },
    
];

/* Social Icons */
var icons = [{
    iWebsite: "https://rafaelalucas.com/dailyui/6/assets/link.svg",
    iEmail: "https://rafaelalucas.com/dailyui/6/assets/email.svg",
    iLinkedin: "https://rafaelalucas.com/dailyui/6/assets/linkedin.svg",
    iDribbble: "https://rafaelalucas.com/dailyui/6/assets/dribbble.svg",
}];

var iWebsite = icons[0].iWebsite,
    iEmail = icons[0].iEmail,
    iLinkedin = icons[0].iLinkedin,
    iDribbble = icons[0].iDribbble;


/* Function to populate the team members */
function addTeam() {
    for (let i = 0; i < team.length; i++) {

        /* Variables for the team */
        var name = team[i].name,
            role = team[i].role,
            desc = team[i].desc,
            photo = team[i].photo,
            website = team[i].website,
            email = team[i].email,
            linkedin = team[i].linkedin,
            dribbble = team[i].dribbble;

        /* Template for the Team Cards */
        var template = `
            <div class="swiper-slide" style="margin-left:20px;height:350px;">
            <div class="card">
                <span class="bg"></span>
                <span class="more"></span>
                <figure class="photo"><img src="${photo}"></figure>
                    <article class="text">
                        <p class="name">${name}</p>
                        <p class="role">${role}</p> 
                        <p class="desc">${desc}</p> 
                    </article>
                    
                    <div class="social">
                    <span class="pointer"></span>
                    <div class="icons">
                        <a class="icon" href="${website}" target="_blank" data-index="0"><img src="${iWebsite}"></a>
                        <a class="icon" href="${email}" target="_blank" data-index="1"><img src="${iEmail}"></a>
                        <a class="icon" href="${linkedin}" target="_blank" data-index="2"><img src="${iLinkedin}"></a>
                        <a class="icon" href="${dribbble}" target="_blank" data-index="3"><img src="${iDribbble}"></a>
                        </div>
                        </div>
                </div>
            </div>`;

        swiperWrapper.insertAdjacentHTML('beforeend', template);
    }
};


addTeam();



/* Swiper Settings */

var mySwiper = new Swiper(".swiper-container", {
    // Optional parameters
    direction: "horizontal",
    loop: true,
    centeredSlides: false,
    speed: 800,
    slidesPerView: 3,
    spaceBetween: 40,
    threshold: 5,


    // If we need pagination
    pagination: {
        el: ".swiper-pagination",
        clickable: true
    },

    // Navigation arrows
    navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev"
    },
    breakpoints: {
        1180: {
            slidesPerView: 2,
            spaceBetween: 40,
            centeredSlides: false,
        },
        799: {
            slidesPerView: 1,
            spaceBetween: 20,
            centeredSlides: true,
            loop: true,
        },
    }
});

/* Show More */

var btnShow = document.querySelectorAll('.more');



btnShow.forEach(function (el) {
    el.addEventListener('click', showMore);
});

function showMore(event) {
    var card = event.target.closest(".swiper-slide");

    if (card.classList.contains('show-more')) {
        card.classList.remove('show-more');
    } else {
        card.classList.add('show-more')
    }

}


/* Social Hover */
var icon = document.querySelectorAll('.icon');

icon.forEach(function (el) {
    el.addEventListener("mouseenter", followCursor);

});


function followCursor(event) {
    var pointer = event.currentTarget.closest(".swiper-slide").querySelector('.pointer'),
        index = event.currentTarget.dataset.index,
        sizeIcon = (60 * index) + 25;

    pointer.style.transform = `translateX(${sizeIcon}px)`;
}


/* end */
});
</script>
<%- include("partials/footer") %>