<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type="text/css"   href="/public/css/contact-us.css">
    <title>Contact Us</title>
</head>
<body>
    <div class="container">
        <div class="text">Contact Us</div>
        <form action="#">
            <div class="form-row">
                <div class="input-data">
                    <input type="text">
                    <label>First Name</label>
                </div>
                <div class="input-data">
                    <input type="text">
                    <label>Last Name</label>
                </div>
            </div>
            <div class="form-row">
                <div class="input-data">
                    <input type="email">
                    <label>Email Address</label>
                </div>
                <div class="input-data">
                    <input type="tel">
                    <label>Contact Number</label>
                </div>
            </div>
            <div class="form-row textarea">
                <div class="input-data">
                    <textarea cols="30" rows="10"></textarea>
                    <label>Write your message</label>
                </div>
            </div>
            <div class="form-row submit-btn">
                <div class="input-data">
                    <div class="inner"></div>
                    <input type="submit" value="submit">
                </div>
            </div>
        </form>
    </div>
</body>
</html>