<%- include("partials/header") %>
    <div class="content">
        <div class="card">
            <h1>SSB Interview tips,suggestions<br> and genrally asked questions</h1>

            <details class="warning" open>
                <summary>INTRODUCTION</summary>
                <p>Interviews will start from 2nd day onwards generally and will be taken by president of board, vice
                    president or similar rank officers during afternoon</p>
                <p>Candidates are well notified by CHM before interview, he will tell you about location of interview
                    and where to enter and where is waiting room.</p>
                <p>For interview be in formal attire and well dressed. Carry your own tie and formal shoe instead of
                    asking from other candidates.</p>
                <p>Wear chest number which is properly tied and neck tie below the chest number.</p>
                <p>You will be notified about your turn of interview go to waiting room and wait for your turn, while
                    waiting for your interview don't talk with peoples waiting there as it can cause nervous feelings.
                </p>
            </details>

            <details class="info">
                <summary>PREPARATION</summary>
                <p>Study your PIQ form.</p>
                <p> Study you SDT (self-description test).</p>
                <p>Prepare about current events and general knowledge.</p>
                <p>Have knowledge about hobbies, interests and your journey.</p>
                <p>Your friends, family, school, college, any recent incident related with your hobby, extra-curricular
                    activity you mentioned in PIQ form.</p>
                <p>Recall your education, achievements, work in chronological order.</p>
            </details>

            <details class="alert">
                <summary>SITTING POSTURE</summary>
                <p>Keep your hands out of your pockets. Hidden hands indicates you have something to hide.</p>
                <p>Avoid over-using of hand I gestures.</p>
                <p>Avoid folding your arms because it can be interpreted as a defensive move.</p>
                <p>Place your hands loosely on your lap or place your arms on the arm rests if your chair has them.</p>
                <p>Your posture reflects your energy, interest and self-control. When standing or sitting keep your back
                    straight and avid slouching.</p>
                <p>Make eye contact with IO but don’t stare, you may look at his/her nose if you feel uncomfortable with
                    it.</p>
                <p>Keep a positive smile while answering all the questions.</p>
            </details>
            <details class="warning">
                <summary>DO's & DONT'S</summary>
                <p>Enter the room with confidence and walking properly.</p>
                <p>Don’t peep/lean through the gate, just stand straight and ask permission to come in</p>
                <p>Prefer light colored formal shirt with dark formal pant.</p>
                <p>Wear dress which is properly stitched and good fitting</p>
                <p>Avoid wearing watch or have wallet</p>
                <p>Proper hair-cut and shaving before the interview is must.</p>
                <p>Wish the 10 while entering the room, shake hands firmly if he offers to.</p>
                <p>Have a proper voice tone, never become aggressive or over emotional while answering.</p>
                <p>Have prepared and accurate answer for your positive and negative points.</p>
                <p>Proper body language is must,avoid moving foot unncecessarily.</p>
                <p>Never argue with the officer and justify your points with logic.</p>
                <p>Listen to the questions clearly and then start to answer.</p>
                <p>Don’t try answering in hurry.</p>
                <p>If you don’t know the answer then it’s always better to say “Sorry sir, I don’t know” instead of
                    making false guess.</p>
                <p> In case, if you couldn’t hear the question, request 10 to repeat the question.</p>
                <p> Do not blame someone for shortcomings, such as blaming teachers for less marks or parents for
                    something else etc. Tip: Have good attitude and be truthful with the information provided, it will
                    surely get success in the PI.</p>
            </details>
            <details class="info">
                <summary>INTRODUCTORY QUESTIONS</summary>
                <p>What is your name, meaning of your name?</p>
                <p>How is your stay till now at SSB?</p>
                <p>How GTO and psychology tests went.</p>
                <p> How was the journey, general questions related to train, in-between stations etc.?</p>
                <p>Basic questions about the place you belong. 6. Basic questions about the place you are coming from.
                </p>
            </details>
            <details class="alert">
                <summary>EDUCATION RELATED QUESTIONS</summary>
                <p>Questions about the place you belong.</p>
                <p>How much you scored in your various exams.</p>
                <p>Reason for decrease in the mark level and how you overcome that difficulty.</p>
                <p>Favorite subject and why?</p>
                <p>Which subject you don’t like and why?</p>
                <p>Achievements in the study.</p>
                <p>Which teacher you like most why.</p>
                <p>Teacher you don’t like and why</p>
                <p>Why you have chosen this particular stream for studies.</p>
                <p> Why there is some gap in studies between inter college and graduation.</p>
                <p>What your friends and teachers think about you.</p>
                <p>How you think about your friends and teachers.</p>
                <p>Why you want to join defense services.?</p>
            </details>
            <details class="warning">
                <summary>FAMILY RELATED QUESTIONS</summary>
                <p>How much pocket money you got in your college days and how much you utilized?</p>
                <p>How you help your mother at home</p>
                <p>How you help your father</p>
                <p>You are close to father or mother and why</p>
                <p>How much you like your father and mother</p>
                <p>How you take responsibilities in your family</p>
                <p>Tell something about your sister and brother.</p>
                <p>Compare yourself with any of your brother or sister.</p>
                <p>Whom you like most and why</p>
                <p>What’s your father/ mother rank in the working place and income they are getting.</p>
                <p>If your family is totally dependent on you tomorrow, how you will help or run the family.</p>
            </details>
            <details class="info">
                <summary>FRIENDS RELATED QUESTIONS</summary>
                <p>How many friends you have.</p>
                <p>Which type of friends you like.</p>
                <p>How will you get new friends?</p>
                <p> Out of friends how many are close to you.</p>
                <p>What your best friend will tell me about you.</p>
                <p>Qualities of your best friend!</p>
                <p>How you will help your friend or helped your friend any good moments.</p>
                <p>How you and your friends spend holidays.</p>
            </details>
            <details class="alert">
                <summary>FOR WORKING " PROFESSIONALS</summary>
                <p>What you say about your boss</p>
                <p>What your boss say about you</p>
                <p>Tell about your company or organization</p>
                <p>What difficulty you faced in your job and what are the steps you taken to overcome that Difficulty.
                </p>
                <p>Why are you leaving the present job?</p>
            </details>
            <details class="warning">
                <summary>HOBBIES/INTERESTS QUESTIONS</summary>
                <p>What is your hobby?</p>
                <p>Why you have chosen this hobby.</p>
                <p>What are the things you have learn from your hobbies?</p>
                <p>From when you are doing this hobby.</p>
                <p>What’s your childhood hobby and what are you doing now.</p>
                <p>Expect few cross questioning about your hobbies.</p>
                <p>What type of news channel, T.V. shows you see and which periodical you used to read and why?</p>
            </details>
            <details class="info">
                <summary>GAMES AND SPORTS QUESTIONS</summary>
                <p>Which game you like and why?</p>
                <p>Why chosen an indoor/ outdoor game rather than an outdoor/indoor game</p>
                <p>What is your position in the team?</p>
                <p>Depth of knowledge in the Games or sports. i.e. Questions from size of the playground/court size and
                    rules of the game and recent world records in the game etc! Which player you like most and why.</p>
            </details>
            <details class="alert">
                <summary>OTHER QUESTIONS</summary>
                <p>Questions from the PIQ in the fields of extracurricular and co-curricular activities such as N.S.S
                    and N.C.C. etc.</p>
                <p>If you play a game or sports, how you will organize that game like that.</p>
                <p>Volunteer of activities like blood donation association etc.</p>
                <p>When you joined in N.C.C./ N.S.S. and why, What you achieved in that, Positions held in that, Grade
                    of certificates got such as A, B, C etc., Who motivated to join in N.C.C</p>
                <p>Officer asks some history and current affairs of the nation and world.</p>
                <p> Technical questions or Practical Knowledge questions (specially for TGC entry or TES entry scheme).
                </p>
                <p>Basic technical questions relating to our daily day to day life, e.g. physics law for the swing
                    bowling, why ship swims above water, apply the Pythagoras theorem to the table tennis service etc.
                </p>
                <p>What if you not get selected this time?</p>
                <p>Why got rejected last time</p>
            </details>
        </div>
    </div>
    <!-- footer -->
    <%- include("partials/footer") %>