<%- include("partials/header") %>
    <div class="content">
        <div class="card">
            <h1>SSB Interview tips,suggestions<br> and genrally asked questions</h1>

            <details class="info" open>
                <summary>INTRODUCTION</summary>
                    <p><i class="fas fa-hand-point-right"></i>&nbsp; Interviews will start from 2nd day onwards generally and will be taken by president of board, vice
                        president or similar rank officers during afternoon</p>
                    <p><i class="fas fa-hand-point-right"></i>&nbsp;Candidates are well notified by CHM before interview, he will tell you about location of interview
                        and where to enter and where is waiting room.</p>
                    <p><i class="fas fa-hand-point-right"></i>&nbsp;For interview be in formal attire and well dressed. Carry your own tie and formal shoe instead of
                        asking from other candidates.</p>
                    <p><i class="fas fa-hand-point-right"></i>&nbsp;Wear chest number which is properly tied and neck tie below the chest number.</li>
                    <p><i class="fas fa-hand-point-right"></i>&nbsp;You will be notified about your turn of interview go to waiting room and wait for your turn, while
                        waiting for your interview don't talk with peoples waiting there as it can cause nervous feelings.</p>
            </details>

            <details class="warning">
                <summary>PREPARATION</summary>
                <p><i class="fas fa-hand-point-right"></i>&nbsp;Study your PIQ form.</p>
                <p><i class="fas fa-hand-point-right"></i>&nbsp; Study you SDT (self-description test).</p>
                <p><i class="fas fa-hand-point-right"></i>&nbsp;Prepare about current events and general knowledge.</p>
                <p><i class="fas fa-hand-point-right"></i>&nbsp;Have knowledge about hobbies, interests and your journey.</p>
                <p><i class="fas fa-hand-point-right"></i>&nbsp;Your friends, family, school, college, any recent incident related with your hobby, extra-curricular
                    activity you mentioned in PIQ form.</p>
                <p><i class="fas fa-hand-point-right"></i>&nbsp;Recall your education, achievements, work in chronological order.</p>
            </details>

            <details class="alert">
                <summary>SITTING POSTURE</summary>
                <p><i class="fas fa-hand-point-right"></i>&nbsp;Keep your hands out of your pockets. Hidden hands indicates you have something to hide.</p>
                <p><i class="fas fa-hand-point-right"></i>&nbsp;Avoid over-using of hand I gestures.</p>
                <p><i class="fas fa-hand-point-right"></i>&nbsp;Avoid folding your arms because it can be interpreted as a defensive move.</p>
                <p><i class="fas fa-hand-point-right"></i>&nbsp;Place your hands loosely on your lap or place your arms on the arm rests if your chair has them.</p>
                <p><i class="fas fa-hand-point-right"></i>&nbsp;Your posture reflects your energy, interest and self-control. When standing or sitting keep your back
                    straight and avid slouching.</p>
                <p><i class="fas fa-hand-point-right"></i>&nbsp;Make eye contact with IO but don’t stare, you may look at his/her nose if you feel uncomfortable with
                    it.</p>
                <p><i class="fas fa-hand-point-right"></i>&nbsp;Keep a positive smile while answering all the questions.</p>
            </details>
            <details class="warning">
                <summary>DO's & DONT'S</summary>
                <p><i class="fas fa-hand-point-right"></i>&nbsp;Enter the room with confidence and walking properly.</p>
                <p><i class="fas fa-hand-point-right"></i>&nbsp;Don’t peep/lean through the gate, just stand straight and ask permission to come in</p>
                <p><i class="fas fa-hand-point-right"></i>&nbsp;Prefer light colored formal shirt with dark formal pant.</p>
                <p><i class="fas fa-hand-point-right"></i>&nbsp;Wear dress which is properly stitched and good fitting</p>
                <p><i class="fas fa-hand-point-right"></i>&nbsp;Avoid wearing watch or have wallet</p>
                <p><i class="fas fa-hand-point-right"></i>&nbsp;Proper hair-cut and shaving before the interview is must.</p>
                <p><i class="fas fa-hand-point-right"></i>&nbsp;Wish the 10 while entering the room, shake hands firmly if he offers to.</p>
                <p><i class="fas fa-hand-point-right"></i>&nbsp;Have a proper voice tone, never become aggressive or over emotional while answering.</p>
                <p><i class="fas fa-hand-point-right"></i>&nbsp;Have prepared and accurate answer for your positive and negative points.</p>
                <p><i class="fas fa-hand-point-right"></i>&nbsp;Proper body language is must,avoid moving foot unncecessarily.</p>
                <p><i class="fas fa-hand-point-right"></i>&nbsp;Never argue with the officer and justify your points with logic.</p>
                <p><i class="fas fa-hand-point-right"></i>&nbsp;Listen to the questions clearly and then start to answer.</p>
                <p><i class="fas fa-hand-point-right"></i>&nbsp;Don’t try answering in hurry.</p>
                <p><i class="fas fa-hand-point-right"></i>&nbsp;If you don’t know the answer then it’s always better to say “Sorry sir, I don’t know” instead of
                    making false guess.</p>
                <p><i class="fas fa-hand-point-right"></i>&nbsp; In case, if you couldn’t hear the question, request 10 to repeat the question.</p>
                <p><i class="fas fa-hand-point-right"></i>&nbsp; Do not blame someone for shortcomings, such as blaming teachers for less marks or parents for
                    something else etc. Tip: Have good attitude and be truthful with the information provided, it will
                    surely get success in the PI.</p>
            </details>
            <details class="info">
                <summary>INTRODUCTORY QUESTIONS</summary>
                <p><i class="fas fa-hand-point-right"></i>&nbsp;What is your name, meaning of your name?</p>
                <p><i class="fas fa-hand-point-right"></i>&nbsp;How is your stay till now at SSB?</p>
                <p><i class="fas fa-hand-point-right"></i>&nbsp;How GTO and psychology tests went.</p>
                <p><i class="fas fa-hand-point-right"></i>&nbsp; How was the journey, general questions related to train, in-between stations etc.?</p>
                <p><i class="fas fa-hand-point-right"></i>&nbsp;Basic questions about the place you belong. 6. Basic questions about the place you are coming from.
                </p>
            </details>
            <details class="alert">
                <summary>EDUCATION RELATED QUESTIONS</summary>
                <p><i class="fas fa-hand-point-right"></i>&nbsp;Questions about the place you belong.</p>
                <p><i class="fas fa-hand-point-right"></i>&nbsp;How much you scored in your various exams.</p>
                <p><i class="fas fa-hand-point-right"></i>&nbsp;Reason for decrease in the mark level and how you overcome that difficulty.</p>
                <p><i class="fas fa-hand-point-right"></i>&nbsp;Favorite subject and why?</p>
                <p><i class="fas fa-hand-point-right"></i>&nbsp;Which subject you don’t like and why?</p>
                <p><i class="fas fa-hand-point-right"></i>&nbsp;Achievements in the study.</p>
                <p><i class="fas fa-hand-point-right"></i>&nbsp;Which teacher you like most why.</p>
                <p><i class="fas fa-hand-point-right"></i>&nbsp;Teacher you don’t like and why</p>
                <p><i class="fas fa-hand-point-right"></i>&nbsp;Why you have chosen this particular stream for studies.</p>
                <p><i class="fas fa-hand-point-right"></i>&nbsp; Why there is some gap in studies between inter college and graduation.</p>
                <p><i class="fas fa-hand-point-right"></i>&nbsp;What your friends and teachers think about you.</p>
                <p><i class="fas fa-hand-point-right"></i>&nbsp;How you think about your friends and teachers.</p>
                <p><i class="fas fa-hand-point-right"></i>&nbsp;Why you want to join defense services.?</p>
            </details>
            <details class="warning">
                <summary>FAMILY RELATED QUESTIONS</summary>
                <p><i class="fas fa-hand-point-right"></i>&nbsp;How much pocket money you got in your college days and how much you utilized?</p>
                <p><i class="fas fa-hand-point-right"></i>&nbsp;How you help your mother at home</p>
                <p><i class="fas fa-hand-point-right"></i>&nbsp;How you help your father</p>
                <p><i class="fas fa-hand-point-right"></i>&nbsp;You are close to father or mother and why</p>
                <p><i class="fas fa-hand-point-right"></i>&nbsp;How much you like your father and mother</p>
                <p><i class="fas fa-hand-point-right"></i>&nbsp;How you take responsibilities in your family</p>
                <p><i class="fas fa-hand-point-right"></i>&nbsp;Tell something about your sister and brother.</p>
                <p><i class="fas fa-hand-point-right"></i>&nbsp;Compare yourself with any of your brother or sister.</p>
                <p><i class="fas fa-hand-point-right"></i>&nbsp;Whom you like most and why</p>
                <p><i class="fas fa-hand-point-right"></i>&nbsp;What’s your father/ mother rank in the working place and income they are getting.</p>
                <p><i class="fas fa-hand-point-right"></i>&nbsp;If your family is totally dependent on you tomorrow, how you will help or run the family.</p>
            </details>
            <details class="info">
                <summary>FRIENDS RELATED QUESTIONS</summary>
                <p><i class="fas fa-hand-point-right"></i>&nbsp;How many friends you have.</p>
                <p><i class="fas fa-hand-point-right"></i>&nbsp;Which type of friends you like.</p>
                <p><i class="fas fa-hand-point-right"></i>&nbsp;How will you get new friends?</p>
                <p><i class="fas fa-hand-point-right"></i>&nbsp; Out of friends how many are close to you.</p>
                <p><i class="fas fa-hand-point-right"></i>&nbsp;What your best friend will tell me about you.</p>
                <p><i class="fas fa-hand-point-right"></i>&nbsp;Qualities of your best friend!</p>
                <p><i class="fas fa-hand-point-right"></i>&nbsp;How you will help your friend or helped your friend any good moments.</p>
                <p><i class="fas fa-hand-point-right"></i>&nbsp;How you and your friends spend holidays.</p>
            </details>
            <details class="alert">
                <summary>FOR WORKING " PROFESSIONALS</summary>
                <p><i class="fas fa-hand-point-right"></i>&nbsp;What you say about your boss</p>
                <p><i class="fas fa-hand-point-right"></i>&nbsp;What your boss say about you</p>
                <p><i class="fas fa-hand-point-right"></i>&nbsp;Tell about your company or organization</p>
                <p><i class="fas fa-hand-point-right"></i>&nbsp;What difficulty you faced in your job and what are the steps you taken to overcome that Difficulty.
                </p>
                <p><i class="fas fa-hand-point-right"></i>&nbsp;Why are you leaving the present job?</p>
            </details>
            <details class="warning">
                <summary>HOBBIES/INTERESTS QUESTIONS</summary>
                <p><i class="fas fa-hand-point-right"></i>&nbsp;What is your hobby?</p>
                <p><i class="fas fa-hand-point-right"></i>&nbsp;Why you have chosen this hobby.</p>
                <p><i class="fas fa-hand-point-right"></i>&nbsp;What are the things you have learn from your hobbies?</p>
                <p><i class="fas fa-hand-point-right"></i>&nbsp;From when you are doing this hobby.</p>
                <p><i class="fas fa-hand-point-right"></i>&nbsp;What’s your childhood hobby and what are you doing now.</p>
                <p><i class="fas fa-hand-point-right"></i>&nbsp;Expect few cross questioning about your hobbies.</p>
                <p><i class="fas fa-hand-point-right"></i>&nbsp;What type of news channel, T.V. shows you see and which periodical you used to read and why?</p>
            </details>
            <details class="info">
                <summary>GAMES AND SPORTS QUESTIONS</summary>
                <p><i class="fas fa-hand-point-right"></i>&nbsp;Which game you like and why?</p>
                <p><i class="fas fa-hand-point-right"></i>&nbsp;Why chosen an indoor/ outdoor game rather than an outdoor/indoor game</p>
                <p><i class="fas fa-hand-point-right"></i>&nbsp;What is your position in the team?</p>
                <p><i class="fas fa-hand-point-right"></i>&nbsp;Depth of knowledge in the Games or sports. i.e. Questions from size of the playground/court size and
                    rules of the game and recent world records in the game etc! Which player you like most and why.</p>
            </details>
            <details class="alert">
                <summary>OTHER QUESTIONS</summary>
                <p><i class="fas fa-hand-point-right"></i>&nbsp;Questions from the PIQ in the fields of extracurricular and co-curricular activities such as N.S.S
                    and N.C.C. etc.</p>
                <p><i class="fas fa-hand-point-right"></i>&nbsp;If you play a game or sports, how you will organize that game like that.</p>
                <p><i class="fas fa-hand-point-right"></i>&nbsp;Volunteer of activities like blood donation association etc.</p>
                <p><i class="fas fa-hand-point-right"></i>&nbsp;When you joined in N.C.C./ N.S.S. and why, What you achieved in that, Positions held in that, Grade
                    of certificates got such as A, B, C etc., Who motivated to join in N.C.C</p>
                <p><i class="fas fa-hand-point-right"></i>&nbsp;Officer asks some history and current affairs of the nation and world.</p>
                <p><i class="fas fa-hand-point-right"></i>&nbsp; Technical questions or Practical Knowledge questions (specially for TGC entry or TES entry scheme).
                </p>
                <p><i class="fas fa-hand-point-right"></i>&nbsp;Basic technical questions relating to our daily day to day life, e.g. physics law for the swing
                    bowling, why ship swims above water, apply the Pythagoras theorem to the table tennis service etc.
                </p>
                <p><i class="fas fa-hand-point-right"></i>&nbsp;What if you not get selected this time?</p>
                <p><i class="fas fa-hand-point-right"></i>&nbsp;Why got rejected last time</p>
            </details>
        </div>
    </div>
    <!-- footer -->
    <%- include("partials/footer") %>