<%- include("partials/header") %>
<!--Main Content Section -->
<div class="header-container">
  <div class="hone" id="first">
       Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum, eveniet.
  </div>
  <div class="htwo" id="second">
    Services Selection Board, commonly known as ‘SSB Interview’, is a Personality and Intelligence Assessment
    Test
  </div>
</div>
<!---->
<div class="top-container">
  <!--Left Section -->
  <div class="top-left-section">
     <h2 class="heading1" style="color:#fa9905;">
        India's Best Defence career platform
    </h2>
    <h3>
      Be the next one to adore the uniform.<br>
      <br>
      We provide excellent facilities and professional experiences with high standards.
    </h3>
  </div>
  <!--Right Section -->
  <div class="soldier-image" >
      <img src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/201902/indian-flag-2644512_1920_0.jpeg?lptE1ZoujAnTTNsuN_dlZhclndK.S.y0" >
  </div>
  
 <!-- <p class="p1">Service Selection Board
    Services Selection Board, commonly known as ‘SSB Interview’, is a Personality and Intelligence Assessment
    Test is conducted specifically to analyze the potential and compatibility of candidates for commission into
    the Armed Forces of India as officers. The interview process is usually spread over a span of five days. It
    consists of a series of scientific and time tested psychological testing techniques.
    The prime aim of selection system in SSB is to explore the potential of a candidate, which is must for
    becoming an officer in armed forces. In order to be fair, the system consists of three different and
    independent techniques. Each technique grades and evaluates the qualities which are essential for defence
    services by allowing least time and under stressful condition, which is the practical requirement for an
    officer during emergencies like wars. These three are as follows:

    <ul>
      <li class="list"><strong>Psychological Test:</strong>These are carried out by specially trained psychologist in a
        given
        time frame.
      </li><br>

      <li class="list"><strong>GTO’s Tests:</strong> These tests are carried out face to face on the ground in which the
        testing officer
        judges the qualities based on the performance shown by candidates on ground, under stress.
      </li><br>

      <li class="list"><strong> Interviewing Officer's Test:</strong> The President or Deputy President interviews the
        candidate. He
        evaluates the traits of personality of the candidate. The interviewing officer generally divides his
        method of interview into two parts. One is the generic test. Where the interviewer puts up the
        Routine questions.The other one is a situation based test.
      </li>
    </ul>
  </p> -->


  <!-- End of Container -->
</div>
<!-- Blog Section -->
<div class="blog-container">
  <h2 style="text-align: center;">Blogs</h2>
  <span>
    <button id="prev" class="ui right labeled icon button">
      <i class="left arrow icon"></i>
      Prev
    </button>
    <button id="next" class="ui right labeled icon button">
      <i class="right arrow icon"></i>
      Next
    </button>
  </span>
  <div id="style1">
    <!--Card1 -->
    <div class="card">
      <div class="image">
        <img src="images/road.png" alt="image of road"></div>
      <div class="title">
        <h3>Title Name</h3>
      </div>
      <div class="des">
        <p>Write Your title description Here...</p>
        <button>Read more...</button>
      </div>
    </div>
    <!-- Card 2-->
    <div class="card">
      <div class="image">
        <img src="images/road.png" alt="image of road"></div>
      <div class="title">
        <h3>Title Name</h3>
      </div>
      <div class="des">
        <p>Write Your title description Here...</p>
        <button>Read more...</button>
      </div>
    </div>
    <!-- Card 3-->
    <div class="card">
      <div class="image">
        <img src="images/road.png" alt="image of road"></div>
      <div class="title">
        <h3>Hello</h3>
      </div>
      <div class="des">
        <p>Write Your title description Here...</p>
        <button>Read more...</button>
      </div>
    </div>
  </div>
  <div id="style2">
    <!-- Card 4-->
    <div class="card">
      <div class="image">
        <img src="images/road.png" alt="image of road"></div>
      <div class="title">
        <h3>Title Name</h3>
      </div>
      <div class="des">
        <p>Write Your title description Here...</p>
        <button>Read more...</button>
      </div>
    </div>
    <!--Card 5-->
    <div class="card">
      <div class="image">
        <img src="images/road.png" alt="image of road"></div>
      <div class="title">
        <h3>Title Name</h3>
      </div>
      <div class="des">
        <p>Write Your title description Here...</p>
        <button>Read more...</button>
      </div>
    </div>
    <!-- Card 6-->
    <div class="card">
      <div class="image">
        <img src="images/road.png" alt="image of road"></div>
      <div class="title">
        <h3>Bye</h3>
      </div>
      <div class="des">
        <p>Write Your title description Here...</p>
        <button>Read more...</button>
      </div>
    </div>
  </div>
  <div id="style3">
    <!--Card 7-->
    <div class="card">
      <div class="image">
        <img src="images/road.png" alt="image of road"></div>
      <div class="title">
        <h3>Title Name</h3>
      </div>
      <div class="des">
        <p>Write Your title description Here...</p>
        <button>Read more...</button>
      </div>
    </div>
    <!--Card 8-->
    <div class="card">
      <div class="image">
        <img src="images/road.png" alt="image of road"></div>
      <div class="title">
        <h3>Title Name</h3>
      </div>
      <div class="des">
        <p>Write Your title description Here...</p>
        <button>Read more...</button>
      </div>
    </div>
    <!-- Card 9-->
    <div class="card">
      <div class="image">
        <img src="images/road.png" alt="image of road"></div>
      <div class="title">
        <h3>Nice</h3>
      </div>
      <div class="des">
        <p>Write Your title description Here...</p>
        <button>Read more...</button>
      </div>
    </div>
    <!--End of Cards-->
  </div>
</div>
<!-- Feature Section -->
<div class="feature-container">
  <div class="feature-left-section">
    <h2 id="feature-main-heading" style="color:#fa9905;margin-bottom:40px;">What we have For You</h2>
  </div>
  <div class="feature-right-section">
    <div class="first-row">
      <div class="feature-card">
        <div class="feature-card-top">
          <div class="fone">
            <i class="fa fa-moon-o" aria-hidden="true"></i>
          </div>
          <div class="ftwo">
            <h2 style="color:skyblue;text-align: center;">Dark & Bright Mode</h2>
          </div>
        </div>
        <div class="feature-card-desc">
          <h2>Bright and Dark Mode To Make Your Learning Easier</h2>
        </div>
      </div>
      <!--second card-->
      <div class="feature-card">
        <div class="feature-card-top">
          <div class="fone">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          </div>
          <div class="ftwo">
            <h2 style="color:skyblue;text-align: center;">Write a Article</h2>
          </div>
        </div>
        <div class="feature-card-desc">
          <h2>You can write your thoughts here...</h2>
        </div>
      </div>
      <!--third card-->
      <div class="feature-card">
        <div class="feature-card-top">
          <div class="fone">
            <i class="far fa-chart-bar"></i>
          </div>
          <div class="ftwo">
            <h2 style="color:skyblue;text-align: center;">Analyse yourself</h2>
          </div>
        </div>
        <div class="feature-card-desc">
          <h2>You can check your daily progress here...</h2>
        </div>
      </div>
    </div>
    <div class="second-row">
      <div class="feature-card">
        <div class="feature-card-top">
          <div class="fone">
            <i class="far fa-newspaper"></i>
          </div>
          <div class="ftwo">
            <h2 style="color:skyblue;text-align: center;">Latest Updates</h2>
          </div>
        </div>
        <div class="feature-card-desc">
          <h2>What new happens around the world</h2>
        </div>
      </div>
      <!--second card-->
      <div class="feature-card">
        <div class="feature-card-top">
          <div class="fone">
            <i class="fa fa-moon-o" aria-hidden="true"></i>
          </div>
          <div class="ftwo">
            <h2 style="color:skyblue;text-align: center;">Dark & Bright Mode</h2>
          </div>
        </div>
        <div class="feature-card-desc">
          <h2>Bright and Dark Mode To Make Your Learning Easier</h2>
        </div>
      </div>
      <!--third card-->
      <div class="feature-card">
        <div class="feature-card-top">
          <div class="fone">
            <i class="fa fa-moon-o" aria-hidden="true"></i>
          </div>
          <div class="ftwo">
            <h2 style="color:skyblue;text-align: center;">Dark & Bright Mode</h2>
          </div>
        </div>
        <div class="feature-card-desc">
          <h2>Bright and Dark Mode To Make Your Learning Easier</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Testimonial Section -->
<main>
  <h2 class="testimonial-heading" style="margin-bottom:20px;font-size:3.5rem;color:#fa9905;text-align:center;">User Reviews</h2>
  <div class="slider">
    <div class="slide">
      <div class="testimonial">
        <blockquote>“ I’ve been interested in coding for a while but never
          taken the jump, until now.
          I couldn’t recommend this course enough. I’m now in the job of my
          dreams and so excited about the future. ”</blockquote>
        <p class="author">Tanya Sinclair
          <span>UX Engineer</span>
        </p>
      </div>

      <div class="slider-img">
        <img src="https://alcs-slider.netlify.app/images/image-tanya.jpg" alt="Author Image">
      </div>

    </div>

    <div class="slide">
      <div class="testimonial">
        <blockquote>“ If you want to lay the best foundation possible I’d
          recommend taking this course.
          The depth the instructors go into is incredible. I now feel so
          confident about
          starting up as a professional developer. ”</blockquote>
        <p class="author">John Tarkpor
          <span>Junior Front-end Developer</span>
        </p>
      </div>

      <div class="slider-img">
        <img src="https://alcs-slider.netlify.app/images/image-john.jpg" alt="Author Image">
      </div>

    </div>
    
    <div class="buttons" style="display:flex;align-items: center;justify-content: center;">
      <div class="previous"></div>
      <div class="next"></div>
    </div>
  </div>

</main>
<!-- Footer File-->
<script src="js/landing.js"></script>
<script>
  const next = document.querySelector(".next");
const prev = document.querySelector(".previous");
const slides = document.querySelectorAll(".slide");

let index = 0;
display(index);

function display(index) {
  slides.forEach((slide) => {
    slide.style.display = "none";
  });
  slides[index].style.display = "flex";
}

function nextSlide() {
  index++;
  if (index > slides.length - 1) {
    index = 0;
  }
  display(index);
}

function prevSlide() {
  index--;
  if (index < 0) {
    index = slides.length - 1;
  }
  display(index);
}

next.addEventListener("click", nextSlide);
prev.addEventListener("click", prevSlide);

</script>
<%- include("partials/footer") %>










<script>
  const style1 = document.getElementById("style1");
  const style2 = document.getElementById("style2");
  const style3 = document.getElementById("style3");
  const prev = document.getElementById("prev");
  const next = document.getElementById("next");
  const Prev = document.getElementById("Prev");
  const Next = document.getElementById("Next");
  let count = 1;
  let page = 1;






  next.addEventListener('click', () => {
    ++count;
    if (count == 2) {
      style1.style.display = "none";
      style3.style.display = "none";
      style2.style.display = "flex";
      next.style.opacity = "1";
      prev.style.opacity = "1";
    } else if (count == 3) {
      style1.style.display = "none";
      style2.style.display = "none";
      style3.style.display = "flex";
      next.style.opacity = "0.3";
      prev.style.opacity = "1";
    } else if (count > 3) {
      count = 3;
    }
  });

  prev.style.opacity = "0.3";
  prev.addEventListener('click', () => {
    --count;
    if (count == 2) {
      style1.style.display = "none";
      style3.style.display = "none";
      style2.style.display = "flex";
      prev.style.opacity = "1";
      next.style.opacity = "1";
    } else if (count == 1) {
      style1.style.display = "flex";
      style2.style.display = "none";
      style3.style.display = "none";
      prev.style.opacity = "0.3";
      next.style.opacity = "1";
    } else if (count < 1) {
      count = 1;
    }
  });
</script>
</body>

</html>