<%- include("partials/header") %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
 <!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Merienda+One&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">


<!-- Main Content Starts-->
<div class="container">
    <div class="top-header-section" >
      <h1 style="color:#fa9905;text-align:center;font-family:'Merienda One', cursive;">Service Selection Board</h1>
      <div id="header-two" style="background:url('assets/img/bg-pattern.png'), linear-gradient(to left, #7b4397, #dc2430);height:100%;">
        <div class="left-section">
          <h2 style="text-align:center;color:white;">SSB PROCEDURE</h2>
          <h3 style="text-align:center;color:yellow;margin-top:40px;font-size:1.8rem;">Have Any Queries?</h3>
          <h4 style="font-size:1.5rem;">No need to Worry we will short out all your doubts and queries</h4>
          <hr />
          <h3 style="text-align:left;color:yellow;">Few Questions</h3>
          <div id="question-box">
            <p>------ Q1.What is SSB</p>
            <p>------ Q1.What is SSB</p>
            <p>------ Q1.What is SSB</p>
          </div>
          <h3>We will we giving answers to all these Questions here?</h3>
        </div>
        <div class="right-section">
          <img src="assets/img/Mind map-pana.png" alt="thinking-img">
          <h2 style="text-align:center;font-size:2.4rem;color:yellow;">SSB Procedure?</h2>
        </div>
      </div>
    </div>
    <div style="border:2px solid #5e81cf;margin-top:10px;padding:0px 20px;"></div>
    <!-- Main Section -->
    
    <div class="main-section">
      <h2 id="first" data-aos="fade-down" style=" text-align:center; 
      font-size:2.3rem;font-weight:700;font-family:'Merienda One', cursive;color:#fa9905;">SSB Interview Procedure</h2>
      <h4 id="second" data-aos="fade-down">The SSB Interview Procedure comprises of two stage selection process: Stage I & Stage II.
        Candidates, those qualify the Stage I,
        only they are permitted to appear for Stage II. The complete procedure is given below:</h4>
      <div id="stage-section">
        <div class="days-zero"  data-aos="fade-down">
          <div class="days-circle">1</div>
          <div class="between-line">___________________________</div>
          <div class="days-content" style="margin-top:40px;margin-left:-200px;">
            <h3 class="days-heading">Stage 1:</h3>
            <p>This stage consists of Officer Intelligence Rating (OIR) tests and Picture Perception & Description Test (PP & DT). Stage 1 is a screening test.
               Candidates will be shortlisted on the basis of combined performance in OIR Test and PP & DT.
            </p>
          </div>
        </div>
        <!--Day 1-->
        <div class="days-one"  data-aos="fade-down">
          <div class="days-circle">2</div>
          <div class="between-line">___________________________</div>
          <div class="days-content" style="margin-top:40px;margin-left:-200px;">
            <h3 class="days-heading">Stage 2:</h3>
            <p>This stage is conducted for four (4) days. Stage II 
              consists of Psychology Tests, Group Testing Officer Tasks (GTO Tasks), Interview & Conference.
            </p>
          </div>
        </div>
         
      </div>
      <!-- Stage Section Ends-->
      <!-- SSB Interview Section -->
      <div class="ssb-interview">
        <h2 id="three"  data-aos="fade-up" style="text-align:center; 
        font-size:2.3rem;font-weight:700;font-family:'Merienda One', cursive;">Five Days SSB Selection Procedure:</h2>
        <div id="days-section">
          <div class="days-zero"  data-aos="fade-down">
            <div class="days-circle">1</div>
            <div class="between-line">___________________________</div>
            <div class="days-content" style="margin-top:40px;margin-left:-200px;">
              <h3 class="days-heading">Day 0(Reporting):</h3>
              <p>On this day, candidates have to report to the selection center. Candidate’s original documents along
                with photocopies will be verified.
                After the documents verification, Personal Information Questionnaire (PIQ) Forms will be filled.
                <br>
                <br>
                PIQ Forms: In this form, candidates have to fill their personal details regarding educational profile,
                family background, etc. This form is very important. It forms a base of questions, which might be put to
                an aspirant a
                the individual interview round. The responses will be analyzed by the psychologist of the Board.
              </p>
            </div>
          </div>
          <!--Day 1-->
          <div class="days-one"  data-aos="fade-down">
            <div class="days-circle">1</div>
            <div class="between-line">___________________________</div>
            <div class="days-content" style="margin-top:40px;margin-left:-200px;">
              <h3 class="days-heading">Day 1(Screening Test):</h3>
              <p>On the next day, it is the Stage 1. Candidates have to give an Intelligence Test (Verbal & Non-Verbal)
                & Picture Perception Test. In PP test, slide (hazy or clear) is shown for 30 seconds & candidates have
                to write the story. After finishing this test, the group discussion round takes place.
                This sequence is commonly known as Picture Perception and Discussion Test (PPDT).
                <br>
                <br>
                Intelligence Test: It comprises of both; verbal and non-verbal questions. It is a written test which
                includes multiple choice questions. The time allotted to answering each question is 30 seconds.
                <br>
                <br>
                Picture Perception and Discussion Test (PP & DT): This test includes story writing and discussion. A
                picture will be shown to the candidates for 30 seconds and candidates have to write a story based on the
                picture in 3 minutes.
              </p>
            </div>
          </div>
          <!-- Day 2-->
          <div class="days-two"  data-aos="fade-down">
            <div class="days-circle">2</div>
            <div class="between-line">___________________________</div>
            <div class="days-content" style="margin-top:40px;margin-left:-200px;">
              <h3 class="days-heading">Day 2(Psychology Tests):</h3>
              <p>It is a set written tests, organized by a Psychologist. In these tests, candidates psychological
                suitability will be checked to be an officer. These tests include:
              <ul>
                <li>
                  <strong>Thematic Apperception Test (TAT):</strong> It is called as Picture Story writing. This test is
                  very similar to PPDT. In this test, about 11 pictures will be shown. Each picture will be displayed
                  just for 30 seconds after that candidates have to write a story based on the picture within 4 minutes.
                  After 4 minutes another picture will be displayed and the same procedure will be followed till
                  the last slide. The twelfth slide will be blank where a candidate is supposed to write any story of
                  their own choice.
                </li>
                <li>
                  <strong>Word Association Test (WAT):</strong> It is the second psychological test of SSB selection
                  procedure. In this test, 60 words will be shown back to back for a period of 50 seconds.
                  Candidates have to write the first thought that comes to their mind for those words.
                </li>
                <li>
                  <strong>Situation Reaction Test (SRT): </strong> In this test, candidates will get a booklet with 60
                  situations written on it. Candidates have to write their responses based on those 60 situations.
                </li>
                <li>
                  <strong>Self Description Test (SD): </strong> In this test, candidates have to write their opinion
                  about their parents, themselves, friends, teachers & others. The time will be allotted 15 minutes.
                </li>
  
              </ul>
              </p>
            </div>
          </div>
          <!-- Day 3& Day 4-->
          <div class="days-three"  data-aos="fade-down">
            <div class="days-circle">3/4</div>
            <div class="between-line">___________________________</div>
            <div class="days-content" style="margin-top:40px;margin-left:-200px;">
              <h3 class="days-heading">Day 3 & Day 4 – Group Testing Officer Tasks (GTO Tasks):</h3>
              <p>These Tests are interactive indoor and outdoor activities as a combination of mental and physical work. These tests are as follows:
              </p>
                <ul>
                  <li><strong>Group Discussion:</strong>
                    : In this round, a certain situation or topic (mostly current affairs) is given to a group of candidates. They are expected to discuss the various aspects of the issue. Group Task Officer observes each candidate during the course of the group discussion.
                  </li>
                  <li><strong>Group Planning Exercise (Military Planning Exercise):</strong>
                    In this round, a model of real life practical circumstances is presented to a group of applicants. They have to write their own plan of action for the mentioned problem.
                  </li>
                  <li>
                    <strong>Progressive Group Tasks (PGT): </strong>
                    In this round, the group of candidates has to cross some obstacles with the help of supporting materials such as rope, plank, wood log etc.
                  </li>
                  <li><strong>Half Group Tasks:</strong>
                    This round is same as PGT but the numbers of group members will half. Candidates get more chance to show their potential.
                  </li>
                  <li><strong>Individual Obstacles:</strong>
                    In this round, candidates are required to attempt 10 obstacles individually.
                  </li>
                  <li>
                    <strong>Group Obstacles Race or Snake Race:</strong>: In this round, all group members will compete to the other groups. Candidates are required to cross certain obstacles with the snake-like rope.
                  </li>
                  <li>
                    <strong>Command Task:</strong>: In this task, an aspirant will be a commander. He will be required to cross some obstacles with the help of 2-3 subordinates.
                  </li>
                  <li>
                    <strong>Lecturette:</strong>In this round, each individual has to give a lecture for 3 minutes on a topic selected by them.
                  </li>
                  <li>
                    <strong>Final Group Task: </strong>It is same as PGT. Candidates have another chance to show their potential.
                  </li>
              </ul>
              <p>
              On the same day, the candidate’s interview will be conducted. It involves a personal conversation with an Interviewing Officers.
              </p>
            </div>
          </div>
          <!-- Day 5-->
          <div class="days-five"  data-aos="fade-down">
            <div class="days-circle">5</div>
            <div class="between-line">___________________________</div>
            <div class="days-content" style="margin-top:40px;margin-left:-200px;">
              <h3 class="days-heading">Day 5(Conference):</h3>
              <p>
                On the final day, candidates & all the SSB board member sit together and have a chat to the candidates to ask a few general questions. The conference is just to decide whether you recommend as an officer in Indian defense forces or not. Candidates are required to come before the complete Boar
                of Examiners, which is consisted of President, Deputy President,
                all the GTOs, all the psychologists and Technical Officer.
                <br>
                <br>
                Within an hour, the SSB result will be declared after completion of the board meeting. Selected candidates undergo
                medical test for further 3 or 5 days. After qualifying candidate’s medical test, the final merit list will be announced.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>




<%- include("partials/footer") %>
