<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NDA</title>
    <style>
        #nda-image {
            height: 400px;
            width: 100%;
        }
    </style>
</head>

<body>
    <!-- ---------------------body-------------- -->
    <div class="container">
        <div class="image">
            <img id="nda-image" src="https://www.olivegreens.co.in/images/sudan.jpg" alt="nda-image" />
        </div>
        <p class="heading"><strong>What is NDA?</strong></p>

        <p class="p1">
            The National Defence Academy (NDA) is the Joint Services academy of the Indian Armed Forces, where cadets of
            the three services, the Army, the Navy and the Air Force train together before they go on to
            pre-commissioning training in their respective service academies. The NDA is located in Khadakwasla near
            Pune, Maharashtra. It is the first tri-service academy in the world.
        </p>
        <p class="p2">
            NDA alumni have led and fought in every major conflict in which the Indian Armed Forces has been called to
            action since the academy was established. The alumni include 3 Param Vir Chakra recipients and 9 Ashoka
            Chakra recipients.
        </p>
        <p class="p3">
            NDA or National Defence Academy is a national institute for training selected young men for officer level
            entry into the Armed forces of India. NDA is located at Khadakwasla near Pune, Maharashtra. It is a training
            facility for the leaders of tomorrow who will be respected and followed. It is not just an institution but a
            way of living. NDA transforms a hesitant young cadet into an honourable, physically and mentally competent
            and polished man who is prepared for any kind of adversity that might face him; an officer and a gentleman.
        </p>
        <p class="p4">
            The training at NDA is rigorous. In addition to service training for the Army, Navy and Air Force, the
            cadets are also taught academics to cover the graduation level degree in Arts, Sciences or Computers. The
            training at NDA is broken into six terms and the total duration of training is three years. Once their
            training is concluded, the cadets are awarded their bachelor’s degree at the passing out parade of NDA.
            Thereafter the cadets go to their respective service institutes i.e. the Indian Military Academy or IMA for
            army cadets, Air Force Academy Hyderabad for Air force cadets and Naval Academy Cochin for Naval Cadets.
        </p>
        <p class="p5">
            To know more about NDA, please view this link,&nbsp;
            <a href="http://nda.nic.in/"
                style="color: #005b34; text-decoration: none; background: transparent;">http://nda.nic.in/</a>
        </p>
        <p>To know more about NDA, please view this link,&nbsp;<a href="http://nda.nic.in/"
                style="color: #005b34; text-decoration: none; background: transparent;">http://nda.nic.in/</a></p>
        <p style="text-align: justify;"><strong>HOW TO APPLY FOR NDA</strong></p>
        <p style="text-align: justify;">NDA and NA a written entrance examination is conducted by UPSC twice a year.
            Notification for the exam appears in all major national dailies in the month of Dec/Jan for the April exam
            and in the months of May/June for the September exam. The exam is held in the months of April and September.
            Candidates must apply to sit for the examination, online on the UPSC website after notification is released
            by UPSC</p>
        <p><strong style="line-height: 1.6;">IMPORTANT INFORMATION</strong></p>
        <table class="uk-table uk-table-striped uk-table-condensed">
            <tbody>
                <tr>
                    <td><strong>Tentative Vacancies Per Course</strong></td>
                    <td>300 (Twice a year) or As notified from time to time Army - 195Air Force - 66Navy - 39</td>
                </tr>
                <tr>
                    <td><strong>Notification in Employment News/ leading daily news Paper/ UPSC website</strong></td>
                    <td>Jun and Dec as Notified by UPSC</td>
                </tr>
                <tr>
                    <td colspan="2"><strong>ELIGIBILITY CRITERIA</strong></td>
                </tr>
                <tr>
                    <td><strong>Age</strong></td>
                    <td>Between <strong>16 &frac12; to 19 &frac12; yrs</strong> Between 16 &frac12; to 19 &frac12; yrs
                        as of first day of the month in which course is due to commence.</td>
                </tr>
                <tr>
                    <td><strong>Qualification</strong></td>
                    <td>12th Class of 10+2 System of Education. Maths and Physics are compulsory for Air force and Navy.
                        Commerce and Arts students can apply for army.</td>
                </tr>
                <tr>
                    <td><strong>Sex</strong></td>
                    <td>Male candidates only. Women cannot apply for NDA.</td>
                </tr>
                <tr>
                    <td><strong>Marital Status</strong></td>
                    <td>Unmarried</td>
                </tr>
                <tr>
                    <td><strong>Likely SSB Date</strong></td>
                    <td>Sep to Oct and Jan to Apr</td>
                </tr>
                <tr>
                    <td><strong>Date Commencement of Training</strong></td>
                    <td>Jan and Jul</td>
                </tr>
                <tr>
                    <td><strong>Training Academy</strong></td>
                    <td>NDA , Khadakwasla, Pune</td>
                </tr>
                <tr>
                    <td><strong>Duration of Training</strong></td>
                    <td>3 Yrs at NDA and 1 Yrs at IMA(For Army cadets)/ 3 Yrs at NDA and 1 Yrs at Naval Academy( for
                        Naval cadets)/3 Yrs at NDA and 1 &amp; &frac12; Yrs at AFA Hyderabad (For AF cadets)</td>
                </tr>
            </tbody>
        </table>
        <p><strong>NDA EXAM PATTERN</strong></p>
        <p style="text-align: justify;">NDA written exam is comprised of two tests. Duration of each test
            is&nbsp;<strong>two and a half hours</strong>&nbsp;and both are conducted on the same day, consecutively.
            Examination is set by the UPSC.</p>
        <table border="1" class="uk-table uk-table-striped" style="width: 823px; height: 97px;" cellspacing="0"
            cellpadding="0">
            <tbody>
                <tr>
                    <td>Test/ Paper</td>
                    <td>Subject</td>
                    <td>Duration</td>
                    <td>Maximum Marks</td>
                </tr>
                <tr>
                    <td>I</td>
                    <td>Mathematics</td>
                    <td>2.5 hours</td>
                    <td>300</td>
                </tr>
                <tr>
                    <td>II</td>
                    <td>General Ability Test</td>
                    <td>2.5 hours</td>
                    <td>600</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>Total= 900</td>
                </tr>
            </tbody>
        </table>
        <p style="text-align: justify;"><strong>SYLLABUS FOR NDA EXAMINATION</strong></p>
        <p style="text-align: justify;"><strong>MATHEMATICS&nbsp;</strong>(Maximum Marks 300):</p>
        <p style="text-align: justify;"><strong>Algebra:</strong>&nbsp;Concept of a set, operations on sets, Venn
            diagrams. &nbsp;De Morgan laws. &nbsp;Cartesian product, relation, equivalence relation. Representation of
            real numbers on a line. &nbsp;Complex numbers - basic properties, modulus, argument, cube roots of unity.
            &nbsp;Binary system of numbers. &nbsp;Conversion of a number in decimal system to binary system and
            vice-versa. &nbsp;Arithmetic, Geometric and Harmonic progressions. &nbsp;Quadratic equations with real
            coefficients. &nbsp;Solution of linear in equations of two variables by graphs. &nbsp;Permutation and
            Combination. &nbsp;Binomial theorem and its application. &nbsp;Logarithms and their applications.</p>
        <p style="text-align: justify;"><strong>Matrices and Determinants:</strong>&nbsp;Types of matrices, operations
            on matrices Determinant of a matrix, basic properties of determinant. &nbsp;Adjoin and inverse of a square
            matrix, Applications - Solution of a system of linear equations in two or three unknowns by Cramer's rule
            and by Matrix Method.</p>
        <p style="text-align: justify;"><strong>Trigonometry:</strong>&nbsp;Angles and their measures in degrees and in
            radians. &nbsp;Trigonometrically ratios. &nbsp;Trigonometric identities Sum and different formulae.
            &nbsp;Multiple and Sub-multiple angles. &nbsp;Inverse trigonometric functions. &nbsp;Applications - Height
            and distance, properties of triangles.</p>
        <p style="text-align: justify;"><strong>Analytical Geometry of two and three
                dimensions:</strong>&nbsp;Rectangular Cartesian Coordinate system. &nbsp;Distance formula.
            &nbsp;Equation of a line in various forms. &nbsp;Angle between two lines. &nbsp;Distance of a point from a
            line. &nbsp;Equation of a circle in standard and in general form. &nbsp;Standard forms of parabola, ellipse
            and hyperbola. &nbsp;Eccentricity and axis of a conic. Point in a three dimensional space, distance between
            two points. &nbsp;Direction Cosines and direction ratios. &nbsp;Equation of a plane and a line in various
            forms. &nbsp;Angle between two lines and angle between two planes. &nbsp;Equation of a sphere.</p>
        <p style="text-align: justify;"><strong>Differential Calculus:</strong>&nbsp;Concept of a real valued function -
            domain, range and graph of a function. &nbsp;Composite functions, one to one, onto and inverse functions.
            &nbsp;Notion of limit, Standard limits - examples. &nbsp;Continuity of functions - examples, algebraic
            operations on continuous functions. &nbsp;Derivative of a function at a point, geometrical and physical
            interpretation of a derivative - applications. &nbsp;Derivatives of sum, product and quotient of functions,
            derivative of a function with respect of another function, derivative of a composite function. &nbsp;Second
            order derivatives. &nbsp;Increasing and decreasing functions. &nbsp;Application of derivatives in problems
            of maxima and minima.</p>
        <p style="text-align: justify;"><strong>Integral Calculus and Differential equations:</strong>&nbsp;Integration
            as inverse of differentiation, integration by substitution and by parts, standard integrals involving
            algebraic expressions, trigonometric, exponential and hyperbolic functions. &nbsp;Evaluation of definite
            integrals - determination of areas of plane regions bounded by curves - applications. Definition of order
            and degree of a differential equation, formation of a differential equation by examples. &nbsp;General and
            particular solution of a differential equation, solution of first order and first degree differential
            equations of various types - examples. &nbsp;Application in problems of growth and decay.</p>
        <p style="text-align: justify;"><strong>Vector Algebra:&nbsp;</strong>Vectors in two and three dimensions,
            magnitude and direction of a vector. &nbsp;Unit and null vectors, addition of vectors, scalar multiplication
            of vector, scalar product or dot product of two-vectors. &nbsp;Vector product and cross product of two
            vectors. &nbsp;Applications-work done by a force and moment of a force, and in geometrical problems.</p>
        <p style="text-align: justify;"><strong>Statistics and Probability:</strong>&nbsp;Statistics:
            &nbsp;Classification of data, Frequency distribution, cumulative frequency distribution - examples Graphical
            representation - Histogram, Pie Chart, Frequency Polygon - examples. &nbsp;Measures of Central tendency -
            mean, median and mode. &nbsp;Variance and standard deviation - determination and comparison.
            &nbsp;Correlation and regression.</p>
        <p style="text-align: justify;"><strong>Probability :</strong>Random experiment, outcomes and associated sample
            space, events, mutually exclusive and exhaustive events, impossible and certain events. &nbsp;Union and
            Intersection of events. &nbsp;Complementary, elementary and composite events. &nbsp;Definition of
            probability - classical and statistical - examples. &nbsp;Elementary theorems on probability - simple
            problems. &nbsp;Conditional probability, Bayes' theorem - simple problems. &nbsp;Random variable as function
            on a sample space. &nbsp;Binomial distribution, examples of random experiments giving rise to Binominal
            distribution.&nbsp;</p>
        <p style="text-align: justify;"><strong style="line-height: 1.6;">GENERAL ABILITY TEST</strong></p>
        <p style="text-align: justify;"><strong>Part &lsquo;A&rsquo; - ENGLISH</strong>&nbsp;(Maximum Marks 200): The
            question paper in English will be designed to test the candidate&rsquo;s understanding of English and
            workman like use of words. The syllabus covers various aspects like: Grammar and usage, vocabulary,
            comprehension and cohesion in extended text to test the candidate&rsquo;s proficiency in English.</p>
        <p style="text-align: justify;"><strong>Part &lsquo;B&rsquo; - GENERAL KNOWLEDGE</strong>&nbsp;(Maximum Marks
            400):The question paper will consist of current affairs questions, questions from science, history,
            geography and polity. The NDA written exam syllabus includes subjects like History, Polity, Economics,
            Maths, Geography, Physics, Biology, Chemistry, Current Affairs, GK, English etc.</p>
        <p><strong style="line-height: 1.6;">RESULTS OF NDA EXAMINATION</strong></p>
        <p style="text-align: justify;">UPSC declares the result of NDA written exam in 3-4 months after the written
            exam. The same can be viewed on the UPSC website. Being a competitive exam and there is no fixed cut off
            percentage for passing. Candidates who perform better are sent the call letters for SSB interviews. The
            final merit list is prepared after the SSB interviews final result and displayed on the UPSC website.
            Joining instructions are sent to students based on vacancies available as per the merit list.</p>



    </div>
</body>

</html>