*{
    padding:0;
    margin:0;
    font-family: 'Poppins',sans-serif;
    box-sizing:border-box;
}


/* css for sidebar */
.ui.grid {
    margin-top:100px !important;
    background-color:#fff;
    margin-bottom:1rem;
}
.ui.vertical.tabular.menu .item {
    border-color: #e7f1e7;
    text-align: center;
}
.side-bar{
    background-color: #fa9906;
}
.ui.segment{
    width:99%;
}

.table-content .nda-table tr:nth-child(even){
    background-color: #c7c5c5;
}

/* css for tabs */
.tabs{
    border:1px solid #ccc; 
    display: flex;
    box-shadow: 5px 5px 10px 5px #ccc;
    overflow: hidden;
}
.tabs-sidebar{
    width:150px;
    flex-shrink: 0;
    
    background: #cccccc;
}
.tabs-button{
    display: block;
    padding: 10px;
    background: #eeeeee;
    border: none;
    /* height: 50px; */
    width: 100%;
    line-height: 50px;
    outline: none;
    cursor: pointer;
}

.tabs-button:active{
    background: #ddd;
}
.tabs-button:not(:last-of-type){
    border-bottom: 1px solid #cccccc;
}

.tabs-button-active{
    font-weight: bold;
    border-right: 2px solid #009879;
    background: #ddd;
}
.tabs-content{
    padding:15px;
    display: none;
}
.tabs-content-active{
    display: block;
}
.table-content >:first-child{
    margin-top: 0;
}

.nav.nav-tabs{
    display: flex !important;
}

.container{
    width: 100%;
    min-height: 600px;
    position: relative;
    /* margin: 100px auto; */
    /* border:1px solid; */
    overflow: hidden;
}

/* .btn-box{
    display: flex;
    border-bottom:1px solid #ccc;
}
#btn-1{
    background: hsl(0deg 85% 89%);
    border:1px solid #ccc;
    border-bottom: 0;
}
#btn-2{
    border:1px solid #ccc;    
    border-bottom: 0;
}

.btn-box button{
    background: transparent;
    border:none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    margin-right:10px;
    font-size: 20px;
    font-weight: bold;
} */

.nda-table td{
    border: 2px solid #011c39;
    padding:10px;
    font-family: monospace;
    /* width:100%; */
}
.nda-table li{
    list-style-type: none;
}
.nda-table {
    width:100%;
    border-collapse: collapse;
    /* border-bottom: 1px solid gray; */
}

.table-content{
    padding:30px 10;
}
.tab-content{
    margin-top:40px !important;
}

/* .content{
    position:absolute;
    transform: translateX(100%);
    transition: 0.3s;
}

#content-1{
    transform: translateX(0);
} */


.change{
    margin:20px 10px;
    list-style:none;
    border:2px solid #fa9906;
    padding:10px 20px;
    background-color: #fa9906;
    color:white !important;
    font-size:1.5rem;
    font-family:cursive;
    border-radius:5px;
}
a{
    color:white;
}

/* media queries */
@media only screen and (max-width:500px){
    .ui.grid{
        width:100%;
        margin-bottom: 5px;
    }
   
    *{
        font-size:0.8rem;
    }
    .ui.vertical.tabular.menu .item{
        padding:19px;

    }

}