*{
    box-sizing:border-box
}
body{
    font-family: arial,sans-serif;
    background: #fff;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
   
    
}

.header-container{
      background-color: #011c39;
      color:#fa9905;
      font-size:1.6rem;
      font-family:monospace;
      padding:5px;
      height:60px;
    /*  border:2px solid black; */
      margin-top:50px;
      text-align: center;
  }
  #second{
      display:none;
  }

/* css of container */
.top-container{
    display:flex;
    justify-content: space-between;
  /*  width:100%; */
    height:500px;
    padding:20px 60px;
    margin-top:25px;
    padding-bottom: 30px;
   /* border-bottom:6px dotted #fa9905;
    border-bottom-width: 6px; */
   /* border:6px solid #fa9905;
    border:4px solid #011c39; */
   /* background-color: #011c39;
    background-color: white;
    background-color: #fa9905; */
  
}
.top-left-section{
    margin-top:5%;
    width:40%;
}
/* https://www.youngias.com/wp-content/uploads/2019/05/NDA-Academy-600x408.png */
/* background image in container 
/*Styling of H2*/
.top-right-section{
  width:60%;
  padding: 30px;
  display: flex;
  margin-bottom: 40px;
  align-items: center;
  justify-content: center;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(https://alcs-slider.netlify.app/images/pattern-bg.svg);
}
.heading1{
    font-family:cursive;
    font-size:4rem;
    font-weight:1000;
    color:white;
    color:#fa9905;
    color:white;
    color:darkgreen;
}
/*Styling of class p1*/
strong{
    text-decoration: underline;
}
.p1{
    margin-top:20px;
    font-size:1.6rem;
    color:yellow;
    color:#011c39;
    color:white;
    font-family:monospace;
}
.list{
    color:#fa9905;
    font-size:1.4rem;
    line-height: 2rem;
    font-family:monospace;
}
/* Blog-container */
.blog-container{
    background-color:#fa9905;
    /*border:4px solid #fa9905; */
    background-color: #011c39;
   /* border:4px solid #011c39; */
    background-color: white;
    margin-top:60px;
    margin-bottom:20px;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    padding:40px 40px;
}
.blog-container h2{
    font-size:4rem;
    color:#fa9905;
}
.blog-style{
  display:flex;
  align-items: center;
  justify-content: center;
}


/* Feature Container */
.feature-container{
    display:flex;
    flex-direction:column;
    justify-content: center;
    margin-top: 20px;
    margin-bottom:100px;
    
}
.feature-left-section{
    width:100%;
    padding:15px 30px;
    background-color:white;
    color:#011c39;
}
.feature-right-section{
    width:100%;
   /* border:2px solid #fa9905; */
    background-color: white;
    padding:5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#feature-main-heading{
    color:#fa9905;
    font-family:monospace;
    font-size: 4.5rem;
    text-align: center;
    margin-top:50px;
}
#feature-description{
    color:black;
    padding:5px 20px;
    font-family: monospace;
    font-size:1.8rem;
    line-height: 3rem;
    margin-top:30px;
}
.feature-right-section .first-row{
    display:flex;
    align-items: center;
    justify-content: center;
}
.feature-right-section .second-row{
    margin-top:40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.feature-card{
    padding:10px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    width:200px;
    height:180px;
    border:2px solid white;
    background: white;
    box-shadow: pink -4px 9px 25px -6px;
    box-shadow: rgba(14, 13, 13, 0.2) 0px 60px 40px -7px;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    margin-left:30px;
    margin-right:30px;
}
.feature-card-top{
    display:flex;
    /*background-color:#011c39; */
    padding:0px;
    align-items: center;
    background-color: white;
    box-shadow:0px 4px 3px pink;
}
.feature-card-top i{
    color:#fa9905;
    font-size: 2rem;
}
.fone{
    padding:6px;
    background-color:white;
    box-shadow:0px 4px 3px pink;
}
.ftwo{
    color:black;
    margin-left:10px;
    background-color: white;
}
.feature-card-desc{
    margin-top:20px;
    color:black;
    font-family: monospace;
    font-size:1.8rem;
    padding:10px;
    text-align: center;
}


/* Testimonial Section */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}


main {
  width: 100%;
  max-width: 1440px;
  display:block;
  margin-left:auto;
  margin-right:auto;
  padding: 16px;
}
main .slider .buttons {
  z-index: 0;
  width: 80px;
  height: 40px;
 /* position: absolute; */
  margin-top:0px;
  margin-left:auto;
  margin-right: auto;
  border-radius: 50px;
  transform: translateX(50%);
  background-color: #ffffff;
}
main .slider .buttons .previous,
main .slider .buttons .next {
  width: 50%;
  height: 100%;
 /* position: absolute;  */
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
main .slider .buttons .previous {
  left: 0;
  background-image: url("https://alcs-slider.netlify.app/images/icon-prev.svg");
}
main .slider .buttons .previous:hover {
  transform: scale(1.25);
}
main .slider .buttons .next {
  right: 0;
  background-image: url("https://alcs-slider.netlify.app/images/icon-next.svg");
}
main .slider .buttons .next:hover {
  transform: scale(1.25);
}
main .slider .slide {
  display: flex;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
}
main .slider .slide .testimonial {
  padding: 32px 51px;
  background-size: 60px;
  background-position: top;
  background-repeat: no-repeat;
  background-image: url(https://alcs-slider.netlify.app/images/pattern-quotes.svg);
}
main .slider .slide .testimonial blockquote {
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 36px;
}
main .slider .slide .testimonial .author {
  font-size: 15px;
  font-weight: 700;
}
main .slider .slide .testimonial .author span {
  display: block;
  color: #babacf;
  font-weight: 500;
}
 main .slider .slide .slider-img {
  width: 100%;
  padding: 30px;
  display: flex;
  margin-bottom: 40px;
  align-items: center;
  justify-content: center;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(https://alcs-slider.netlify.app/images/pattern-bg.svg);
}
 main .slider .slide .slider-img img {
  width: 240px;
  display: block;
  border-radius: 10px;
  box-shadow: 0px 16px 40px 0px rgba(135, 105, 210, 0.4);
}
main .slider .slide .active {
  opacity: 1;
  transform: translateX(0) scale(1);
  transition-delay: 0.4s;
}
.hide {
  display: none;
}

@media screen and (min-width: 600px) {
   main {
    max-width: 800px;
  }
   main .slider .buttons {
    top: 280px;
  }
}
@media screen and (min-width: 900px) {
   main {
    width: 100%;
    max-width: 1054px;
    padding: 64px 64px 64px 0;
  }
   main .slider .buttons {
    right: 43%;
    top: 500px;
  }
   main .slider .slide {
    position: relative;
    text-align: left;
    display: flex;
    flex-direction: row;
  }
  main .slider .slide .testimonial {
    padding: 32px 0 0 0;
    background-size: 80px;
    background-position: 19% -7%;
    transform: translateX(100px);
  }
  main .slider .slide .testimonial blockquote {
    font-size: 24px;
    line-height: 30px;
  }
  main .slider .slide .testimonial .author span {
    display: contents;
  }
  main .slider .slide .slider-img {
    padding: 55px;
  }
  main .slider .slide .slider-img img {
    width: 400px;
  }
}


/* Blog Card Design */
@import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap");
:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: "Rubik", sans-serif;
  --font-serif: "Cardo", serif;
}

* {
  box-sizing: border-box;
}



.page-content {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  max-width: 1024px;
  margin: 0 auto;
  font-family: var(--font-sans);
}
@media (min-width: 600px) {
  .page-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 800px) {
  .page-content {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 260px;
  margin-left:30px;
  margin-right:30px;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}
.card .title{
  font-size:2rem;
}
@media (min-width: 600px) {
  .card {
    height: 400px;
  }
}
.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  transition: transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}
.card:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
  transform: translateY(-50%);
  transition: transform calc(var(--d) * 2) var(--e);
}
.card:nth-child(1):before {
  background-image: url(https://images.unsplash.com/photo-1517021897933-0e0319cfbc28?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
}
.card:nth-child(2):before {
  background-image: url(https://images.unsplash.com/photo-1533903345306-15d1c30952de?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
}
.card:nth-child(3):before {
  background-image: url(https://images.unsplash.com/photo-1545243424-0ce743321e11?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
}
.card:nth-child(4):before {
  background-image: url(https://images.unsplash.com/photo-1531306728370-e2ebd9d7bb99?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: transform var(--d) var(--e);
  z-index: 1;
}
.content > * + * {
  margin-top: 1rem;
}

.title {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
}

.copy {
  font-family: var(--font-serif);
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.35;
}

.btn {
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white;
  background-color: black;
  border: none;
}
.btn:hover {
  background-color: #0d0d0d;
}
.btn:focus {
  outline: 1px dashed yellow;
  outline-offset: 3px;
}

@media (hover: hover) and (min-width: 600px) {
  .card:after {
    transform: translateY(0);
  }

  .content {
    transform: translateY(calc(100% - 4.5rem));
  }
  .content > *:not(.title) {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
  }

  .card:hover,
.card:focus-within {
    align-items: center;
  }
  .card:hover:before,
.card:focus-within:before {
    transform: translateY(-4%);
  }
  .card:hover:after,
.card:focus-within:after {
    transform: translateY(-50%);
  }
  .card:hover .content,
.card:focus-within .content {
    transform: translateY(0);
  }
  .card:hover .content > *:not(.title),
.card:focus-within .content > *:not(.title) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
  }

  .card:focus-within:before, .card:focus-within:after,
.card:focus-within .content,
.card:focus-within .content > *:not(.title) {
    transition-duration: 0s;
  }
}


/* experiment css */

/* Responsiveness  Code */
@media screen and (max-width:768px){
  .header-container{
    height:80px;
    padding:10px;
    font-size:1.2rem;
  }
  .top-container{
    flex-direction: column;
    padding:13px;
  }
  .top-left-section{
    margin-top:5%;
    width:100%;
  }
  .top-right-section{
    width:100%;
  }
  .heading1{
    font-size:2.3rem;
  }
  .blog-container{
    flex-direction:column;
  }
  .blog-container h2{
    margin-top:100px;
  }
  .blog-style{
    flex-direction: column;
  }
  .card{
    width:300px;
    margin-top:20px;
    margin-bottom:20px;
  }
  .feature-right-section .first-row{
    flex-direction: column;
  }
  .feature-right-section .second-row{
    flex-direction: column;
  }
  .feature-card{
    margin-top:10px;
    margin-bottom: 10px;
  }
}