<ul class="nav nav-tabs" style="display: flex !important;">
    <li class="active change"><a class="bthree" data-toggle="tab" href="#ACC">ACC</a></li>
    <li class="change"><a class="bthree" data-toggle="tab" href="#PC">PC(SL)</a></li>
    <li class="change"><a  class="bthree" data-toggle="tab" href="#SCO">SCO</a></li>
  
</ul>
  
  <div class="tab-content">
    <div id="ACC" class="tab-pane fade in active">
      <h3>ACC</h3>
      <div class="table-content">
        <table class="nda-table"  cellpadding="0" cellspacing="0">
            <tbody>
            <tr>
            <td>Vacancies Per Course</td>
            <td>75 (Twice in a Year)</td>
            </tr>
            <tr>
            <td>Tentative Month of Publication of Notification</td>
            <td>Notified by MP Directorate / AGs Br through Units in Mar and Aug</td>
            </tr>
            <tr>
            <th colspan="2">Eligibility Criteria</th>
            </tr>
            <tr>
            <td>Age</td>
            <td>20 to 27 years , minimum service two years can apply</td>
            </tr>
            <tr>
            <td>Qualification</td>
            <td>10&#43;2 Pattern Class 12th pass or Equivalent. Should have qualified ACC written test</td>
            </tr>
            <tr>
            <td>Marital Status</td>
            <td>Unmarried / Married</td>
            </tr>
            <tr>
            <td>Likely Date of SSB</td>
            <td>Sep to Nov for Jan Course Mar to May for Jul Course</td>
            </tr>
            <tr>
            <td>Training Academy</td>
            <td>ACC Wing at IMA, Dehradun</td>
            </tr>
            <tr>
            <td>Duration of Training</td>
            <td>Four Years (Three Years in ACC Wing &amp; One Year at IMA)</td>
            </tr>
            </tbody>
        </table>
      </div>
    </div>
    <div id="PC" class="tab-pane fade">
      <h3>PC(SL)</h3>
      <div class="table-content">
        <table class="nda-table" idth="100%" cellspacing="0" cellpadding="0" >
            <tbody>
                <tr>
                <td>Vacancies Per Course</td>
                <td>100 (Once in a Year)</td>
                </tr>
                <tr>
                <td>Tentative Month of Publication of Notification</td>
                <td>Notified by MP Dte / AGs Br through Units in Apr and Jul</td>
                </tr>
                <tr>
                <th colspan="2">Eligibility Criteria</th>
                </tr>
                <tr>
                <td>Age</td>
                <td>Maximum age 42 years, 45 years for Engineers &amp; 45 years for IOB Minimum service 10 years
                </td>
                </tr>
                <tr>
                <td>Qualification</td>
                <td>Matric &amp; Above</td>
                </tr>
                <tr>
                <td>Marital Status</td>
                <td>Unmarried / Married Serving JCOs / NCOs excluding Sepoys</td>
                </tr>
                <tr>
                <td>Likely Date of SSB</td>
                <td>Sep and Oct for Jul Course</td>
                </tr>
                <tr>
                <td>Training Academy</td>
                <td>AEC Centre &amp; College, Pachmarhi &amp; IMA, Dehradun</td>
                </tr>
                <tr>
                <td>Duration of Training</td>
                <td>Eight Weeks at AEC Centre &amp; College, Pachmarhi &amp; Four Weeks at IMA</td>
                </tr>
            </tbody>
        </table>
      </div>
    </div> 
    <div id="SCO" class="tab-pane fade">
        <h3>SCO</h3>
        <div class="table-content">
            <table class="nda-table" width="100%" cellspacing="0" cellpadding="0" >
                <tbody>
                    <tr>
                    <td>Vacancies Per Course</td>
                    <td>100 (Twice in a Year)</td>
                    </tr>
                    <tr>
                    <td>Tentative Month of Publication of Notification</td>
                    <td>Notified by MP Directorate / AGs Br through Units in Apr and Jul</td>
                    </tr>
                    <tr>
                    <th colspan="2">Eligibility Criteria</th>
                    </tr>
                    <tr>
                    <td>Age</td>
                    <td>Between 30 to 35 years. minimum service of five years can apply</td>
                    </tr>
                    <tr>
                    <td>Qualification</td>
                    <td>Matric with One Year Diploma or Above</td>
                    </tr>
                    <tr>
                    <td>Marital Status</td>
                    <td>Unmarried / Married</td>
                    </tr>
                    <tr>
                    <td>Likely Date of SSB</td>
                    <td>Jul/Aug for Jan Course &amp; Nov/Dec for Jul Course</td>
                    </tr>
                    <tr>
                    <td>Training Academy</td>
                    <td>OTA, Gaya</td>
                    </tr>
                    <tr>
                    <td>Duration of Training</td>
                    <td>Eight Weeks at AEC Centre &amp; College, Pachmarhi &amp; One Year at OTA, Gaya</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div> 
    
  </div>
  <script>
    const buttons2 = document.querySelectorAll(".bthree");
    const acc = document.getElementById("ACC");
    const pc = document.getElementById("PC");
    const sco = document.getElementById("SCO");
    pc.style.display="none";
    sco.style.display="none";
    for(let i=0;i<buttons2.length;i++){
      buttons2[i].addEventListener("click",(e)=>{
        if(i==0){
          pc.style.display="none";
          sco.style.display="none";
          acc.style.display="block";
          }
        else if(i==1){
          acc.style.display="none";
          sco.style.display="none";
          pc.style.display="block";
        }
        else{
          acc.style.display="none";
          pc.style.display="none";
          sco.style.display="block";
        }
      })
    }
</script>