

 <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#IMA">IMA</a></li>
    <li><a data-toggle="tab" href="#OTA">OTA</a></li>
  </ul>
  
  <div class="tab-content">
    <div id="IMA" class="tab-pane fade in active">
      <h3>IMA</h3>
      <div class="table-content">
        <table class="nda-table"  width="100%" cellspacing="0" cellpadding="0" >
            <tbody>
            <tr>
            <td>Vacancies Per Course</td>
            <td>200 (Twice a year).</td>
            </tr>
            <tr>
            <td>Notification Published in Employment News and leading Daily news Paper</td>
            <td>Notified by UPSC under the aegis of CDSE in Jul and Nov</td>
            </tr>
            <tr>
            <th colspan="2" style="background: #ccc;">Eligibility Criteria</th>
            </tr>
            <tr>
            <td>Age</td>
            <td>19 to 24 years </td>
            </tr>
            <tr>
            <td>Qualification</td>
            <td>Graduation from Recognised University.</td>
            </tr>
            <tr>
            <td>Marital Status</td>
            <td>Un Married </td>
            </tr>
            <tr>
            <td>How to Apply</td>
            <td>Apply Online on UPSC Website as per dates given in the Notfication in the months of Jul and Nov.</td>
            </tr>
            <tr>
            <td>Likely SSB Date</td>
            <td>Aug / Sep and Feb / Mar</td>
            </tr>
            <tr>
            <td>Date Commencement of Training</td>
            <td>Jan and Jul</td>
            </tr>
            <tr>
            <td>Training Academy</td>
            <td>IMA, Dehradun</td>
            </tr>
            <tr>
            <td>Duration of Training</td>
            <td>1 ½ Years</td>
            </tr>
            </tbody>
            </table>
      </div>
   </div>
    <div id="OTA" class="tab-pane fade">
      <h3>OTA</h3>
        <div class="table-content">
            <table class="nda-table"  width="100%" cellspacing="0" cellpadding="0" >
                <tbody>
                <tr>
                <td>Vacancies Per Course</td>
                <td>175 (Twice a year)</td>
                </tr>
                <tr>
                <td>Notification Published in Employment News and leading Daily news Paper</td>
                <td>Notified by UPSC under the aegis of CDSE in Jul and Nov</td>
                </tr>
                <tr>
                <th colspan="2"><span style="font-weight:bold; background:#ccc">Eligibility Criteria</span></th>
                </tr>
                <tr>
                <td>Age</td>
                <td>19 to 25 yrs </td>
                </tr>
                <tr>
                <td>Qualification</td>
                <td>Graduation from Recognised University.</td>
                </tr>
                <tr>
                <td>Marital Status</td>
                <td>Un Married<br />
                </td>
                </tr>
                <tr>
                <td>How to Apply </td>
                <td>Apply Online on UPSC Website as per dates given in the Notfication in the months of Jul and Nov.
                </td>
                </tr>
                <tr>
                </tr>
                <tr>
                <td>Likely SSB Date</td>
                <td>Nov / Dec and May / Jun</td>
                </tr>
                <tr>
                <td>Date Commencement of Training</td>
                <td>Oct and Apr</td>
                </tr>
                <tr>
                <td>Training Academy</td>
                <td>OTA Chennai</td>
                </tr>
                <tr>
                <td>Duration of Training</td>
                <td>49 Weeks </td>
                </tr>
                </tbody>
                </table>
        </div>
    </div> 
  </div>