

<ul class="nav nav-tabs" style="display: flex !important;">
    <li class="active change"><a class="bfour" data-toggle="tab" href="#JAG">JAG</a></li>
    <li class="change"><a class="bfour" data-toggle="tab" href="#NCC">SSC(NCC)</a></li>
</ul>
  
  <div class="tab-content">
    <div id="JAG" class="tab-pane fade in active">
      <h3>JAG</h3>
      <div class="table-content">
        <table class="nda-table"  cellspacing="0" cellpadding="0" >
            <tbody>
            <tr>
            <td>Vacancies Per Course</td>
            <td>10(As Notified)(Twice a year)</td>
            </tr>
            <tr>
            <td>Notification Published in Employment News and leading Daily news Paper</td>
            <td>Notified by Directorate General Recruiting / AG Branch in Jul/Aug and Jan/Feb</td>
            </tr>
            <tr>
            <th colspan="2" style="background: #ddd;">Eligibility Criteria</th>
            </tr>
            <tr>
            <td>Age</td>
            <td>21 to 27 years</td>
            </tr>
            <tr>
            <td>Qualification</td>
            <td>Graduate with LLB with 55% marks. Eligible for Registration with Bar Council of India / State.</td>
            </tr>
            <tr>
            <td>Marital Status</td>
            <td>Un Married</td>
            </tr>
            <tr>
            <td>How to Apply</td>
            <td>Apply online on Official website of DG Rtg www.joinindianarmy.nic.in as Notified in the Notification.</td>
            </tr>
            <tr>
            <td>Likely SSB Date</td>
            <td>Dec / Jan and Jul / Aug</td>
            </tr>
            <tr>
            <td>Date Commencement of Training</td>
            <td>Apr and Oct</td>
            </tr>
            <tr>
            <td>Training Academy</td>
            <td>OTA, Chennai </td>
            </tr>
            <tr>
            <td>Duration of Training</td>
            <td>49 Weeks </td>
            </tr>
            </tbody>
            </table>
    </div>
    </div>
    <div id="NCC" class="tab-pane fade">
      <h3>SSC(NCC)</h3>
      <div class="table-content">
        <table class="nda-table" cellspacing="0" cellpadding="0" >
            <tbody>
            <tr>
            <td>Vacancies Per Course</td>
            <td>50 (Twice a Year)</td>
            </tr>
            <tr>
            <td>Notification Published in Employment News and leading Daily news Paper</td>
            <td>Notified by Directorate General Recruiting / AG Branch in Jun and Dec</td>
            </tr>
            <tr>
            <th colspan="2" style="background: #ddd;">Eligibility Criteria</th>
            </tr>
            <tr>
            <td>Age</td>
            <td>19 to 25 years</td>
            </tr>
            <tr>
            <td>Qualification</td>
            <td>Graduate with 50% Aggregate marks, 2/3 Years service in NCC Senior Div Army with minimum 'B' Grade in 'C' Certificate Exam.</td>
            </tr>
            <tr>
            <td>Marital Status</td>
            <td>Un Married</td>
            </tr>
            <tr>
            <td>How to Apply</td>
            <td>Apply offline as Notified in the Notification through NCC Dte</td>
            </tr>
            <tr>
            <td>Likely SSB Date</td>
            <td>Dec / Jan and Jun / July</td>
            </tr>
            <tr>
            <td>Date Commencement of Training</td>
            <td>Apr and Oct</td>
            </tr>
            <tr>
            <td>Training Academy</td>
            <td>OTA, Chennai</td>
            </tr>
            <tr>
            <td>Duration of Training</td>
            <td>49 Weeks </td>
            </tr>
            </tbody>
            </table>
      </div>
    </div> 
  </div>
  <script>
    const buttons3 = document.querySelectorAll(".bfour");
    const jag = document.getElementById("JAG");
    const ssc = document.getElementById("NCC");
    ssc.style.display="none";
    for(let i=0;i<buttons3.length;i++){
      buttons3[i].addEventListener("click",(e)=>{
        if(i==0){
        ssc.style.display="none";
        jag.style.display="block";
      }
      else{
        jag.style.display="none";
        ssc.style.display="block";
      }
      })
     }
  </script>