

    <ul class="nav nav-tabs" style="display: flex !important;">
        <li class="active change" ><a class="bone" data-toggle="tab" href="#NDA">NDA</a></li>
        <li class="change"><a class="bone" data-toggle="tab" href="#TES">TES</a></li>
      </ul>
      
      <div class="tab-content">
        <div id="NDA" class="tab-pane fade in active">
          <h3>NDA</h3>
          <div class="table-content">
            <table class="nda-table"  cellpadding="" cellspacing="0">
                <tr>
                   <td>Vacancies Per Course</td> 
                   <td>
                       <ul>
                           <li>320 (Twice a year)</li>
                           <li>Army - 208</li>
                           <li>Air Force - 70</li>
                           <li>Navy - 42</li>
                       </ul>
                   </td>
                </tr>
                <tr>
                    <td>Notification Published in Employment News and leading Daily news Paper</td>
                    <td>Jun and Dec, Notified by UPSC</td>
                </tr>
                <tr>
                    <th colspan="2" style="background:#DDD">Eligibility Criteria</th>
                </tr>
                    <tr>
                    <td>Age</td>
                    <td>16 ½ to 19½ yrs as on first day of the month in which course is due to commence</td>
                    </tr>
                    <tr>
                    <td>Qualification</td>
                    <td>12<sup>th</sup> Class of 10&#43;2 System of Education of Equivalent for Army and with Physics and Maths for AF/Navy</td>
                    </tr>
                    <tr>
                    <td>Marital Status</td>
                    <td>Un-Married</td>
                    </tr>
                    <tr>
                    <td>How to Apply</td>
                    <td>Apply Online on UPSC Website as per dates given in the Notfication in the months of Jun and Dec.</td>
                    </tr>
                    <tr>
                    <td>Likely SSB Date</td>
                    <td>Sep to Oct for Jan Course and Jan to Apr for Jul Course</td>
                    </tr>
                    <tr>
                    <td>Date Commencement of Training</td>
                    <td>Jan and Jul</td>
                    </tr>
                    <tr>
                    <td>Training Academy</td>
                    <td>NDA , Khadakwasla, Pune</td>
                    </tr>
                    <tr>
                    <td>Duration of Training</td>
                    <td>3 Yrs at NDA and 1 Yr at IMA </td>
                    </tr>
            </table>
           </div>
        </div>
        <div id="TES" class="tab-pane fade">
          <h3>TES</h3>
          <div class="table-content ">
            <table class="nda-table" cellpadding="0" cellspacing="0" width="100%">
                <tbody>
                <tr>
                <td>Vacancies Per Course</td>
                <td>90 (Twice a year)</td>
                </tr>
                <tr>
                <td>Notification Published in Employment News and leading Daily news Paper</td>
                <td>Notified by DG Rtg AG’s branch IHQ of MOD(Army) in May/Jun &amp; Oct/Nov</td>
                </tr>
                <tr>
                <th colspan="2" style="background: #DDD;">Eligibility Criteria</th>
                </tr>
                <tr>
                <td>Age</td>
                <td>16 ½ to 19½ yrs as on first day of the month in which course is due to commence</td>
                </tr>
                <tr>
                <td>Qualification</td>
                <td>10&#43;2 Physics, Chemistry &amp; Maths (aggregate 70% and above to apply) </td>
                </tr>
                <tr>
                <td>Marital Status</td>
                <td>Un Married</td>
                </tr>
                <tr>
                <td>How to Apply</td>
                <td>Apply online on Official website of DG Rtg www.joinindianarmy.nic.in as Notified in the Notification.</td>
                </tr>
                <tr>
                <td>Likely SSB Date</td>
                <td>Aug to Oct and Feb to Apr</td>
                </tr>
                <tr>
                <td>Date Commencement of Training</td>
                <td>Jan and Jul</td>
                </tr>
                <tr>
                <td>Training Academy</td>
                <td>OTA Gaya</td>
                </tr>
                <tr>
                <td>Duration of Training</td>
                <td>5 Yrs (1 Yrs OTA GAYA &amp; 4 Yrs CTWS) Permanent Commission after 4 Yrs.<br />
                <span style="font-weight:bold">Phase-I</span>- 01 Year Pre-commissioning Training at OTA Gaya &amp; 03 Years at CME Pune/MCTE Mhow/MCEME Secunderabad<br />
                <span style="font-weight:bold">Phase-II</span>- 01 Year Post commission training at CME Pune/MCTE Mhow/MCEME Secunderabad</td>
                </tr>
                </tbody>
                </table>
          </div>
        </div> 
      </div>
      <script>
          const buttons = document.querySelectorAll(".bone");
          const nda = document.getElementById("NDA");
          const tes = document.getElementById("TES");
          tes.style.display="none";
          for(let i=0;i<buttons.length;i++){
            buttons[i].addEventListener("click",(e)=>{
              if(i==0){
                tes.style.display="none";
                nda.style.display="block";
                }
              else if(i==1){
                nda.style.display="none";
                tes.style.display="block";
              }
            })
          }
      </script>