<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#TA">TERRITORIAL ARMY</a></li>
    <li><a data-toggle="tab" href="#RVC">RVC</a></li>
    <li><a data-toggle="tab" href="#AMC">AMC</a></li>
    <li><a data-toggle="tab" href="#APS">APS</a></li>
  
</ul>
  
  <div class="tab-content">
    <div id="TA" class="tab-pane fade in active">
      <h3>TA</h3>
      <div class="table-content">
        <table class="nda-table"  cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                <td>Vacancies Per Course</td>
                <td>Notified by Line Directorate (Twice in a Year)</td>
                </tr>
                <tr>
                <td>Tentative Month of Publication of Notification</td>
                <td>Notified by TA Directorate</td>
                </tr>
                <tr>
                <th colspan="2">Eligibility Criteria</th>
                </tr>
                <tr>
                <td>Age</td>
                <td>18 to 42 years<br />
                </td>
                </tr>
                <tr>
                <td>Qualification</td>
                <td>Graduate from a recognised university</td>
                </tr>
                <tr>
                <td>Marital Status</td>
                <td>Unmarried / Married</td>
                </tr>
                <tr>
                <td>Likely Date of SSB</td>
                <td>Aug / Sep &amp; May / Jun</td>
                </tr>
                <tr>
                <td>Training <br />
                </td>
                <td>
                <ul>
                <li><span style="font-weight:bold"><span style="text-decoration:underline">Recruit Training</span>.</span> 30 days under TA Battalion.</li><li><span style="font-weight:bold; text-decoration:underline">Annual Training Camp.</span> Two calendar month in each training year.</li><li><span style="font-weight:bold; text-decoration:underline">Post Commission Training.</span> Three month in IMA within two years of commissioning.</li></ul>
                <br />
                </td>
                </tr>
                <tr>
                <td><br />
                </td>
                <td>
                <ul>
                </ul>
                </td>
                </tr>
            </tbody>
                
        </table>
      </div>
    </div>
    <div id="RVC" class="tab-pane fade">
      <h3>RVC</h3>
      <div class="table-content">
        <table class="nda-table" idth="100%" cellspacing="0" cellpadding="0" >
            <tbody>
                <tr>
                <td>Vacancies Per Course</td>
                <td>Notified by Line Directorate</td>
                </tr>
                <tr>
                <td>Tentative Month of Publication of Notification</td>
                <td>Nov / Dec , Notified by RVC Directorate</td>
                </tr>
                <tr>
                <th colspan="2">Eligibility Criteria</th>
                </tr>
                <tr>
                <td>Age</td>
                <td>21- 32 years</td>
                </tr>
                <tr>
                <td>Qualification</td>
                <td>BVSc &amp; AH</td>
                </tr>
                <tr>
                <td>Marital Status</td>
                <td>Unmarried / Married</td>
                </tr>
                <tr>
                <td>Likely Date of SSB</td>
                <td>Sep / Oct</td>
                </tr>
                <tr>
                <td>Training Academy</td>
                <td>RVC, Meerut</td>
                </tr>
                <tr>
                <td>Duration of Training</td>
                <td>Three months</td>
                </tr>
            </tbody>
        </table>
      </div>
    </div> 
    <div id="AMC" class="tab-pane fade">
        <h3>AMC</h3>
        <div class="table-content">
            <table class="nda-table" width="100%" cellspacing="0" cellpadding="0" >
                <tbody>
                    <tr>
                    <td>Vacancies Per Course</td>
                    <td>Notified by Line Directorate</td>
                    </tr>
                    <tr>
                    <td>Tentative Month of Publication of Notification</td>
                    <td>Notified by AMC Directorate</td>
                    </tr>
                    <tr>
                    <th colspan="2">Eligibility Criteria</th>
                    </tr>
                    <tr>
                    <td>Age</td>
                    <td>Max 42 years </td>
                    </tr>
                    <tr>
                    <td>Qualification</td>
                    <td>Minimum Matric</td>
                    </tr>
                    <tr>
                    <td>Marital Status</td>
                    <td>Unmarried / Married</td>
                    </tr>
                    <tr>
                    <td>Likely Date of SSB</td>
                    <td>Nov / Dec</td>
                    </tr>
                    <tr>
                    <td>Training Academy</td>
                    <td>AMC Centre &amp; College.</td>
                    </tr>
                    <tr>
                    <td>Duration of Training</td>
                    <td>Three months</td>
                    </tr>
                </tbody>       
            </table>
        </div>
    </div> 
    <div id="APS" class="tab-pane fade">
        <h3>APS</h3>
        <div class="table-content">
            <table class="nda-table" width="100%" cellspacing="0" cellpadding="0" >
                <tbody>
                    <tr>
                    <td>Vacancies Per Course</td>
                    <td>Notified by Line Directorate</td>
                    </tr>
                    <tr>
                    <td>Tentative Month of Publication of Notification</td>
                    <td>Notified by APS Directorate</td>
                    </tr>
                    <tr>
                    <th colspan="2">Eligibility Criteria</th>
                    </tr>
                    <tr>
                    <td>Age</td>
                    <td>Max 45 years </td>
                    </tr>
                    <tr>
                    <td>Qualification</td>
                    <td>Minimum Matric</td>
                    </tr>
                    <tr>
                    <td>Marital Status</td>
                    <td>Unmarried / Married</td>
                    </tr>
                    <tr>
                    <td>Likely Date of SSB</td>
                    <td>Sep /Oct</td>
                    </tr>
                    <tr>
                    <td>Training Academy</td>
                    <td></td>
                    </tr>
                    <tr>
                    <td>Duration of Training</td>
                    <td></td>
                    </tr>
                </tbody>      
            </table>
        </div>
    </div> 
    
  </div>