

 <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#UES">UES</a></li>
    <li><a data-toggle="tab" href="#TGC">TGC</a></li>
    <li><a data-toggle="tab" href="#SSC">SSC(Technical)</a></li>
    <li><a data-toggle="tab" href="#AEC">AEC</a></li>
</ul>
  
  <div class="tab-content">
    <div id="UES" class="tab-pane fade in active">
      <h3>UES</h3>
      <div class="table-content">
        <table class="nda-table"  cellpadding="0" cellspacing="0">
            <tbody>
            <tr>
            <td>Vacancies Per Course</td>
            <td>60 (As Notified) (Once a Year)</td>
            </tr>
            <tr>
            <td>Notification Published in Employment News and leading Daily news Paper</td>
            <td>Notified by Directorate General Recruiting / AG Branch in Jun/Jul </td>
            </tr>
            <tr>
            <th colspan="2"><span style="font-weight:bold">Eligibility Criteria</span></th>
            </tr>
            <tr>
            <td>Age</td>
            <td>18 to 24 years </td>
            </tr>
            <tr>
            <td>Qualification</td>
            <td>Pre Final year students of Notified Engineering Streams</td>
            </tr>
            <tr>
            <td>Marital Status</td>
            <td>Un Married</td>
            </tr>
            <tr>
            <td>How to Apply</td>
            <td>Apply online on Official website of DG Rtg www.joinindianarmy.nic.in as Notified in the Notification.</td>
            </tr>
            <tr>
            <td>Likely SSB Date</td>
            <td>Nov to Feb</td>
            </tr>
            <tr>
            <td>Date Commencement of Training</td>
            <td>Jul</td>
            </tr>
            <tr>
            <td>Training Academy</td>
            <td>IMA, Dehradun</td>
            </tr>
            <tr>
            <td>Duration of Training</td>
            <td>One Year</td>
            </tr>
            </tbody>
            </table>
      </div>
    </div>
    <div id="TGC" class="tab-pane fade">
      <h3>TGC</h3>
      <div class="table-content">
        <table class="nda-table" idth="100%" cellspacing="0" cellpadding="0" >
        <tbody>
        <tr>
        <td>Vacancies Per Course</td>
        <td>60 (As Notified) (Twice a Year) </td>
        </tr>
        <tr>
        <td>Notification Published in Employment News and leading Daily news Paper</td>
        <td>Notified by Directorate General Recruiting / AG Branch in Mar/Apr and Sep/Oct.</td>
        </tr>
        <tr>
        <th colspan="2">Eligibility Criteria</th>
        </tr>
        <tr>
        <td>Age</td>
        <td>20 to 27 years</td>
        </tr>
        <tr>
        <td>Qualification</td>
        <td>BE / B Tech in notified streams of Engineering</td>
        </tr>
        <tr>
        <td>Marital Status</td>
        <td>Un Married</td>
        </tr>
        <tr>
        <td>How to Apply </td>
        <td>Apply online on Official website of DG Rtg www.joinindianarmy.nic.in as Notified in the Notification.</td>
        </tr>
        <tr>
        <td>Likely SSB Date</td>
        <td>Mar / Apr and Sep / Oct</td>
        </tr>
        <tr>
        <td>Date Commencement of Training</td>
        <td>Jan and Jul</td>
        </tr>
        <tr>
        <td>Training Academy</td>
        <td>IMA, Dehradun </td>
        </tr>
        <tr>
        <td>Duration of Training</td>
        <td>One Year </td>
        </tr>
        </tbody>
        </table>
      </div>
    </div> 
    <div id="SSC" class="tab-pane fade">
        <h3>SSC (Technical)</h3>
        <div class="table-content">
            <table class="nda-table" width="100%" cellspacing="0" cellpadding="0" >
            <tbody>
            <tr>
            <td>Vacancies Per Course</td>
            <td>100 (As Notified) (Twice a year)</td>
            </tr>
            <tr>
            <td>Notification Published in Employment News and leading Daily news Paper</td>
            <td>Notified by Directorate General Recruiting / AG Branch in Jun / Jul and Dec/Jan</td>
            </tr>
            <tr>
            <th colspan="2">Eligibility Criteria</th>
            </tr>
            <tr>
            <td>Age between</td>
            <td>20 to 27 years </td>
            </tr>
            <tr>
            <td>Qualification</td>
            <td>Engineering Degree in notified stream</td>
            </tr>
            <tr>
            <td>Marital Status</td>
            <td>Un Married</td>
            </tr>
            <tr>
            <td>How to Apply </td>
            <td>Apply online on Official website of DG Rtg www.joinindianarmy.nic.in as Notified in the Notification.</td>
            </tr>
            <tr>
            <td>Likely SSB Date</td>
            <td>Dec-Jan and Jun-Jul</td>
            </tr>
            <tr>
            <td>Date Commencement of Training</td>
            <td>Apr and Oct</td>
            </tr>
            <tr>
            <td>Training Academy</td>
            <td>OTA, Chennai</td>
            </tr>
            <tr>
            <td>Duration of Training</td>
            <td>49 Weeks</td>
            </tr>
            </tbody>
            </table>
        </div>
    </div> 
    <div id="AEC" class="tab-pane fade">
        <h3>AEC (Men)</h3>
        <div class="table-content">
            <table class="nda-table"  width="100%" cellspacing="0" cellpadding="0" >
            <tbody>
            <tr>
            <td>Vacancies Per Course</td>
            <td>20 (As Notified) (Twice a Year)</td>
            </tr>
            <tr>
            <td>Notification Published in Employment News and leading Daily news Paper</td>
            <td>Notified by Directorate General Recruiting / AG Branch in Mar/Apr and Sep/Oct</td>
            </tr>
            <tr>
            <th colspan="2">Eligibility Criteria</th>
            </tr>
            <tr>
            <td>Age</td>
            <td>23 to 27 years</td>
            </tr>
            <tr>
            <td>Qualification</td>
            <td>MA / MSc in 1st or 2nd division in notified subjects from recognised university.</td>
            </tr>
            <tr>
            <td>Marital Status</td>
            <td>Married and Un Married</td>
            </tr>
            <tr>
            <td>How to Apply</td>
            <td>Apply online on Official website of DG Rtg www.joinindianarmy.nic.in as Notified in the Notification.</td>
            </tr>
            <tr>
            <td>Likely SSB Date</td>
            <td>Mar / Apr and Sep / Oct </td>
            </tr>
            <tr>
            <td>Date Commencement of Training</td>
            <td>Jan and Jul</td>
            </tr>
            <tr>
            <td>Training Academy</td>
            <td>IMA, Dehradun</td>
            </tr>
            <tr>
            <td>Duration of Training</td>
            <td>One Year</td>
            </tr>
            </tbody>
            </table>
        </div>
    </div>   
  </div>