<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#NCC">SSCW(NCC)</a></li>
    <li><a data-toggle="tab" href="#JAG">SSCW(JAG)</a></li>
  
</ul>
  
  <div class="tab-content">
    <div id="NCC" class="tab-pane fade in active">
        <h3>SSCW(NCC)</h3>
        <h4>NCC (SPL) Entry Women</h4>
      <div class="table-content">
        <table class="nda-table"  cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                <td>Vacancies Per Course</td>
                <td>Four (Twice a year) </td>
                </tr>
                <tr>
                <td>Notification Published in Employment News and leading Daily news Paper</td>
                <td>Notified by Directorate General Recruiting / AG Branch in Jun and Dec</td>
                </tr>
                <tr>
                <th colspan="2">Eligibility Criteria</th>
                </tr>
                <tr>
                <td>Age</td>
                <td>19 to 25 years </td>
                </tr>
                <tr>
                <td>Qualification</td>
                <td>Graduate with 50% Aggregate marks, 2/3 Years service in NCC Senior Div Army with minimum 'B' Grade in 'C' Certificate Exam.</td>
                </tr>
                <tr>
                <td>Marital Status</td>
                <td>Un Married</td>
                </tr>
                <tr>
                <td>How to Apply</td>
                <td>Apply online as Notified in the Notification through NCC Dte.</td>
                </tr>
                <tr>
                <td>Likely SSB Date</td>
                <td>Dec / Jan and Jun / July</td>
                </tr>
                <tr>
                <td>Date Commencement of Training</td>
                <td>Apr and Oct</td>
                </tr>
                <tr>
                <td>Training Academy</td>
                <td>OTA, Chennai</td>
                </tr>
                <tr>
                <td>Duration of Training</td>
                <td>49 Weeks</td>
                </tr>
            </tbody>
                
        </table>
      </div>
    </div>
    <div id="JAG" class="tab-pane fade">
        <h3>SSCW(JAG)</h3>
        <h4>JAG Women</h4>
      <div class="table-content">
        <table class="nda-table" idth="100%" cellspacing="0" cellpadding="0" >
            <tbody>
                <tr>
                <td>Vacancies Per Course</td>
                <td>Four (As Notified) (Twice a year)</td>
                </tr>
                <tr>
                <td>Notification Published in Employment News and leading Daily news Paper</td>
                <td>Notified by Directorate General Recruiting / AG Branch in Jul/Aug and Jan/Feb.</td>
                </tr>
                <tr>
                <th colspan="2">Eligibility Criteria</th>
                </tr>
                <tr>
                <td>Age</td>
                <td>21 to 27 years </td>
                </tr>
                <tr>
                <td>Qualification</td>
                <td>Graduate with LLB with 55% marks. Eligible for Registration with Bar Council of India / State.</td>
                </tr>
                <tr>
                <td>Marital Status</td>
                <td>Un Married </td>
                </tr>
                <tr>
                <td>How to Apply</td>
                <td>Apply online on Official website of DG Rtg www.joinindianarmy.nic.in as Notified in the Notification.</td>
                </tr>
                <tr>
                <td>Likely SSB Date</td>
                <td>Dec / Jan and Jun / Jul</td>
                </tr>
                <tr>
                <td>Date Commencement of Training</td>
                <td>Apr and Oct</td>
                </tr>
                <tr>
                <td>Training Academy</td>
                <td>OTA, Chennai </td>
                </tr>
                <tr>
                <td>Duration of Training</td>
                <td>49 Weeks </td>
                </tr>
            </tbody>
        </table>
      </div>
    </div> 
    
  </div>