<ul class="nav nav-tabs">
    <li class="active change"><a class="bone" data-toggle="tab" href="#TECH">SSC(TECH)</a></li>
  
</ul>
  
  <div class="tab-content">
    <div id="TECH" class="tab-pane fade in active">
        <h2>Entry Schemes Women - Graduate Tech Entries </h2>
        <p>Short Service Commission (Technical) Women</p>
      <div class="table-content">
        <table class="nda-table"  cellpadding="0" cellspacing="0">
            <tbody>
                <tr class="evenRow">
                <td>Vacancies Per Course</td>
                <td>20 (As Notified) (Twice a year)</td>
                </tr>
                <tr>
                <td>Notification Published in Employment News and leading Daily news Paper</td>
                <td>Notified by Directorate General Recruiting / AG Branch in Jun / Jul and Dec/Jan</td>
                </tr>
                <tr class="evenRow">
                <th colspan="2">Eligibility Criteria</th>
                </tr>
                <tr>
                <td>Age</td>
                <td>20 to 27 years </td>
                </tr>
                <tr class="evenRow">
                <td>Qualification</td>
                <td>Engineering Degree in notified stream. </td>
                </tr>
                <tr>
                <td>Marital Status</td>
                <td>Un Married</td>
                </tr>
                <tr class="evenRow">
                <td>How to Apply</td>
                <td>Apply online on Official website of DG Rtg www.joinindianarmy.nic.in as Notified in the Notification.</td>
                </tr>
                <tr>
                <td>Likely SSB Date</td>
                <td>Dec-Jan and Jun-July.</td>
                </tr>
                <tr class="evenRow">
                <td>Date Commencement of Training</td>
                <td>Apr &amp; Oct</td>
                </tr>
                <tr>
                <td>Training Academy</td>
                <td>OTA Chennai</td>
                </tr>
                <tr class="evenRow">
                <td>Duration of Training</td>
                <td>49 Weeks</td>
                </tr>
            </tbody>
        </table>
      </div>
    </div>
  </div>