<ul class="nav nav-tabs">
    <li class="active change"><a class="bone" data-toggle="tab" href="#UPSC"> Graduate UPSC</a></li>
  
</ul>
  
  <div class="tab-content">
    <div id="UPSC" class="tab-pane fade in active">
        <h3>SSCW(Non Tech)</h3>
        <h4>Short Service Commission Non Technical Women</h4>
      <div class="table-content">
        <table class="nda-table"  cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                <td>Vacancies Per Course</td>
                <td>12 (Twice a year)</td>
                </tr>
                <tr>
                <td>Notification Published in Employment News and leading Daily news Paper</td>
                <td>Notified by UPSC under the aegis of CDSE in July and Nov</td>
                </tr>
                <tr>
                <th colspan="2">Eligibility Criteria</th>
                </tr>
                <tr>
                <td>Age</td>
                <td>19 to 25 years</td>
                </tr>
                <tr>
                <td>Qualification</td>
                <td>Graduation from Recognized University.</td>
                </tr>
                <tr>
                <td>Marital Status</td>
                <td>Un Married</td>
                </tr>
                <tr>
                <td>How to Apply</td>
                <td>Apply Online on UPSC Website as per dates given in the Notfication in the months of Jul and Nov.</td>
                </tr>
                <tr>
                <td>Likely SSB Date</td>
                <td>Jun / July and Nov / Dec </td>
                </tr>
                <tr>
                <td>Date Commencement of Training</td>
                <td>Oct and Apr</td>
                </tr>
                <tr>
                <td>Training Academy</td>
                <td>OTA Chennai</td>
                </tr>
                <tr>
                <td>Duration of Training</td>
                <td>49 Weeks </td>
                </tr>
            </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- <script>
    const buttons = document.querySelectorAll(".bone");
    const nda = document.getElementById("UPSC");
    const tes = document.getElementById("JAG");
    tes.style.display="none";
    for(let i=0;i<buttons.length;i++){
      buttons[i].addEventListener("click",(e)=>{
        if(i==0){
          tes.style.display="none";
          nda.style.display="block";
          }
        else if(i==1){
          nda.style.display="none";
          tes.style.display="block";
        }
      })
    }
</script> -->